/.sass-cache/
/assets/*
!/assets/.empty
/db_rebuild.php

/img/vendor/slir/cache/*
!/img/vendor/slir/cache/.empty

!/images/uploads/cache/
/images/uploads/cache/*
!/images/uploads/cache/.empty
!/images/uploads/temp/
/images/uploads/temp/*
!/images/uploads/temp/.empty
/protected/config/params.php
/protected/runtime/*
!/protected/runtime/.empty
/update.php
