/assets/*
!/assets/.empty
/css/.sass-cache/
/db_rebuild.php
/images/slir/cache/*
!/images/slir/cache/.empty
!/images/uploads/cache/
/images/uploads/cache/*
!/images/uploads/cache/.empty
!/images/uploads/temp/
/images/uploads/temp/*
!/images/uploads/temp/.empty
/protected/config/local.php
/protected/runtime/*
!/protected/runtime/.empty
/update.php