:php
	$this->pageTitle=Yii::app()->name . ' - Account';
	$this->layout='column1';
	$this->breadcrumbs=array(
		$model->id=>array('view','id'=>$model->id),
		'Account',
	);

.g-form#user_account

	%h2 Account

	:php
		$form=$this->beginWidget('CActiveForm', array(
			'id'=>'account-form',
			'enableAjaxValidation'=>true,
			'enableClientValidation'=>true,
			'htmlOptions'=>array('enctype'=>'multipart/form-data'),
			'focus'=>array($model,'title'),
		));

	.collumns

		.left
			.padding

				%table.form
					%caption User Info

					%tr
						%th
							-if($model->image):
								.image
									=CHtml::image('/images/transparent.gif', $model->id, array('style'=>'background-image: url(/images/slir/w73-h70-c73:70-be8e8e3'.$model->getImage().')'))
									=CHtml::link('<span></span>', array('deleteImage'), array('title'=>'remove profile picture'))
							-else:
								=$this->renderPartial('_noImage', array('model'=>$model));
							-endif
						%td
							-if($model->image):
								%span Replace your profile picture:
							-else:
								%span Upload a profile picture:
							-endif
							=$form->fileField($model,'image_temp')
							=$form->error($model,'image_temp')

					//
						%tr
							%th =$form->labelEx($model,'id')
							%td
								.input-text
									=$form->textField($model,'id',array('size'=>32,'maxlength'=>32))
									%span.placeholder ID
								=$form->error($model,'id')

					%tr
						%th =$form->labelEx($model,'name_first')
						%td
							.input-text
								=$form->textField($model,'name_first',array('size'=>32,'maxlength'=>32))
								%span.placeholder First Name
							=$form->error($model,'name_first')

					%tr
						%th =$form->labelEx($model,'name_last')
						%td
							.input-text
								=$form->textField($model,'name_last',array('size'=>32,'maxlength'=>32))
								%span.placeholder Last Name
							=$form->error($model,'name_last')

					%tr
						%th =$form->labelEx($model,'email')
						%td
							.input-text
								=$form->textField($model,'email',array('size'=>64,'maxlength'=>64))
								%span.placeholder Email
							=$form->error($model,'email')

					%tr
						%th =$form->labelEx($model,'phone')
						%td
							.input-text
								=$form->textField($model,'phone',array('size'=>16,'maxlength'=>16))
								%span.placeholder Phone
							=$form->error($model,'phone')

		.right
			.padding

				%table.form
					%caption Password Change

					%tr
						%th =$form->labelEx($model,'password_old')
						%td
							.input-text
								=$form->passwordField($model,'password_old',array('size'=>32,'maxlength'=>32))
								%span.placeholder Old Password
							=$form->error($model,'password_old')

					%tr
						%th =$form->labelEx($model,'password')
						%td
							.input-text
								=$form->passwordField($model,'password',array('size'=>32,'maxlength'=>32,'value'=>isset($_POST['AccountForm']) ? $model->password : ''))
								%span.placeholder New Password
							=$form->error($model,'password')

					%tr.repeat
						%th =$form->labelEx($model,'password_repeat')
						%td
							.input-text
								=$form->passwordField($model,'password_repeat',array('size'=>32,'maxlength'=>32))
								%span.placeholder New Password
							=$form->error($model,'password_repeat')

	%table.form.foot
		%tfoot
			%tr
				%th \\&#160;
				%td
					=CHtml::link('Cancel', array('view', 'id'=>$model->id), array('class'=>'g-button cancel')).' '
					=CHtml::linkButton('Save', array('class'=>'g-button orange'))
					=CHtml::submitButton('Save', array('class'=>'g-button orange'))

	:php
		$this->endWidget();

:php
	Yii::app()->clientScript->registerScript(
		'user_account',
		"
		$('a', '#user_account div.image').click(function() {
			\$this = $(this);
			if(confirm('Are you sure you want to delete your profile picture?')) {
				\$this.parent().addClass('loading');
				$.post(
					'".Yii::app()->createUrl('admin/user/deleteImage')."',
					{
						ajax: true
					},
					function(data) {
						\$this.parents('tr').find('span').text('Upload a profile picture:');
						\$this.parent().replaceWith(data);
					}
				);
			}
			return false;
		});
		",
		CClientScript::POS_READY
	);