:php
	$this->pageTitle=Yii::app()->name . ' - Change Password';

#user_changePassword

	.form

		:php
			$form=$this->beginWidget('CActiveForm', array(
				'id'=>'user-passwordChange-form',
				'enableClientValidation'=>true,
				'clientOptions'=>array(
					'validateOnSubmit'=>true,
				),
				'focus'=>array($model,'password'),
			));

		%table.form(summary="Password Change")
			%caption.hide Password Change

			%tfoot

				%tr
					%th \\&#160;
					%td
						=CHtml::linkButton('Change Password', array('class'=>'g-button orange'))
						=CHtml::submitButton('Change Password', array('class'=>'g-button orange'))

			%tbody

				%tr
					%th =$form->labelEx($model,'password')
					%td
						.input-text
							=$form->passwordField($model,'password')
							%span.placeholder Create a new password
						=$form->error($model,'password')

				%tr
					%th =$form->labelEx($model,'password_repeat')
					%td
						.input-text
							=$form->passwordField($model,'password_repeat')
							%span.placeholder Re-enter the password you created
						=$form->error($model,'password_repeat')

		:php
			$this->endWidget();