:php
	$this->pageTitle=Yii::app()->name . ' - Login';
	$this->breadcrumbs=array(
		'Login',
	);

#site_login

	.form

		:php
			$form=$this->beginWidget('CActiveForm', array(
				'id'=>'login-form',
				'enableClientValidation'=>true,
				/*
				'clientOptions'=>array(
					'validateOnSubmit'=>true,
				),
				*/
				'focus'=>strlen($model->username) == 0 || $model->getErrorCode() == 1 ? array($model,'username') : array($model,'password'),
			));

		%table.form(summary="Login")
			%caption.hide Login

			%tfoot

				%tr
					%th \\&#160;
					%td
						=$form->checkBox($model,'rememberMe')
						\\&#160;
						=$form->label($model,'rememberMe')
						\\&#160; &#160; &#160;
						//=CHtml::link('Cancel', Yii::app()->user->getReturnUrl(), array('class'=>'g-button'))
						\\&#160;
						=CHtml::linkButton('Login', array('class'=>'submit g-button orange'))
						=CHtml::submitButton('Login', array('class'=>'submit g-button orange'))

			%tbody

				%tr
					%th =$form->labelEx($model,'username')
					%td
						.input-text
							=$form->textField($model,'username')
							%span.placeholder Your username or email address
						=$form->error($model,'username')

				%tr
					%th =$form->labelEx($model,'password')
					%td
						.input-text
							=$form->passwordField($model,'password')
							%span.placeholder Your password
						=$form->error($model,'password')
						-if($model->getErrorCode() == 1 || $model->getErrorCode() == 2):
						=CHtml::link('Forgot password?', array('/admin/user/password_forgot', 'id'=>$model->username), array('class'=>'forgotPassword'))
						-endif

		:php
			$this->endWidget();