#site_register-success
	.right-container
		.right
			%h2.alert.alert-success Congratulations! You have successfully registered with #{Yii::app()->name}!
			%p.alert.alert-info An email has been sent to you ( <strong>#{$email}</strong> )
	.left ...