#site_register-success
	.left-container
		.left
			%h2.alert.alert-success Congratulations! You have successfully registered with #{Yii::app()->name}!
			%p.alert.alert-info An email has been sent to <strong>#{$email}</strong>
	.right ...