:php
	$this->pageTitle=Yii::app()->name . ' - Register';
	$this->breadcrumbs=array(
		'Register',
	);

	$this->layout='column2';

#site_register

	%h2 Register

	.form

		:php
			$form=$this->beginWidget('CActiveForm', array(
				'id'=>'user-register-form',
				//'enableAjaxValidation'=>true,
				'focus'=>array($model,'id'),
			));

		//=$form->errorSummary($model)

		%table.form(summary="Register")
			%caption.hide Register

			%tfoot

				%tr
					%th \\&#160;
					%td
						=CHtml::link('Cancel', Yii::app()->user->getReturnUrl(), array('class'=>'g-button'))
						\\&#160;
						=CHtml::linkButton('Register', array('class'=>'g-button orange'))
						=CHtml::submitButton('Register', array('class'=>'g-button orange'))

			%tbody

				%tr
					%th =$form->labelEx($model,'id')
					%td
						.input-text
							=$form->textField($model,'id')
							%span.placeholder Only small letters, numbers, and underscores are allowed.
						=$form->error($model,'id')

				%tr
					%th =$form->labelEx($model,'email')
					%td
						.input-text
							=$form->textField($model,'email')
							%span.placeholder Your email address
						=$form->error($model,'email')

				%tr.repeat
					%th =$form->labelEx($model,'email_repeat')
					%td
						.input-text
							=$form->textField($model,'email_repeat')
							%span.placeholder Re-enter your email address
						=$form->error($model,'email_repeat')

				%tr
					%th =$form->labelEx($model,'password')
					%td
						.input-text
							=$form->passwordField($model,'password')
							%span.placeholder Create a password.
						=$form->error($model,'password')

				%tr.repeat
					%th =$form->labelEx($model,'password_repeat')
					%td
						.input-text
							=$form->passwordField($model,'password_repeat')
							%span.placeholder Re-enter the password you created.
						=$form->error($model,'password_repeat')

				%tr
					%th =$form->labelEx($model,'name_first')
					%td
						.input-text
							=$form->textField($model,'name_first')
							%span.placeholder Your first name
						=$form->error($model,'name_first')

				%tr
					%th =$form->labelEx($model,'name_last')
					%td
						.input-text
							=$form->textField($model,'name_last')
							%span.placeholder Your last name
						=$form->error($model,'name_last')

				%tr
					%th =$form->labelEx($model,'phone')
					%td
						.input-text
							=$form->textField($model,'phone')
							%span.placeholder The phone number to contact you with
						=$form->error($model,'phone')

				-if(CCaptcha::checkRequirements()):
				%tr
					%th =$form->labelEx($model,'verifyCode')
					%td
						.captcha
							-$this->widget('CCaptcha',array('showRefreshButton'=>false))
						.input-text
							=$form->textField($model,'verifyCode')
							%span.placeholder Please enter the letters as they are shown in the image above.
						=$form->error($model,'verifyCode')
				-endif

		:php
			$this->endWidget()