#item_create,
#item_update {
	position: relative;
	padding-top: 18px;

	h2 {
		color: $deeppink;
		position: absolute;
			top: -27px;
			right: 0;
	}

	div.price {
		max-width: 175px;
		padding-left: 44px;

		span.prepend {
			color: $olivedrab;
			font-family: ProximaNovaSemibold;
			font-size: $h4;
			text-align: center;
			position: absolute;
				left: 9px;
			height: 26px;
				line-height: 26px;
		}

		span.placeholder {
			left: 45px;
		}

	}

}