html {
	cursor: default;
	overflow-y: scroll;
}

body {
	font-family: ProximaNovaRegular;
	text-align: left;
	background-color: blacken(whiten($beige, 25%), 25%, 4);
	@include min-width(970px);
}

#body {
	@include clearfix;
	background-color: white;
	background-color: $dark;
	@include box-shadow(rgba(0, 0, 0, .1) 0 1px);
	position: relative;
	padding-top: 18px;
}

#body-top {
	background-color: $custom_cyan;
	@include box-shadow(rgba(0, 0, 0, .1) 0 1px);
	position: absolute;
		top: 0;
		right: 0;
		left: 0;
	height: 3px;
}

#page {
	@include container;
	position: relative;
	//width: auto;
	padding-top: 63px;
	overflow: visible;
}

/*
@media screen and (min-width: 1175px) {

	#page {
		width: 1135px;
	}

}
*/

.no-js #page {
	padding-top: 0;
}

#table {
	border-collapse: collapse;
	border-spacing: 0;
	position: absolute;
		top: 0;
		z-index: 4;
	display: table;
	width: 100%;
	margin-bottom: 18px;

	.tr {
		display: table-row;

		&.hide {
			display: none;
		}

		.td {
			display: table-cell;
				vertical-align: top;
			padding: 0;

			&.filters-left,
			&.filters-right {

				div {
					background-color: whiten(blacken($beige, 25%), 25%, 6);
					padding-bottom: 18px;
				}

			}

			&.filters-left {
				padding-left: 5px;

				div {
					@include border-bottom-left-radius(3px);
					@include box-shadow(
						$dark 0 1px,
						$dark -1px 0
					);
					padding-top: 9px;
				}

			}

			&.filters-right {
				padding-top: 1px;

				div {
					@include border-right-radius(3px);
					@include box-shadow(
						$dark 1px 0,
						$dark 0 1px
					);
					padding: {
						top: 8px;
						left: 10px;
					}
				}

			}

		}

	}

}

#header h1 {
	font-size: 1em;
	margin-bottom: 0;
}

#logo {
	color: white;
	font-family: ProximaNovaLight;
	font-size: $h3;
	text-decoration: none;
	@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
	white-space: nowrap;
	background-color: $custom_cyan;
	@include background-image(linear-gradient(rgba(255, 255, 255, .25), rgba(0, 0, 0, .1)));
	@include border-radius(3px);
	@include box-shadow(
		rgba(0, 0, 0, .1) 0 0 1px inset,
		rgba(0, 0, 0, .5) 0 0 1px
	);
	display: block;
	height: 54px;
		line-height: 54px;
	padding-right: 20px;
	padding-left: 20px;

	span {
		color: whiten($custom_magenta, 25%, 5);
		font-size: .65em;
	}

	&:hover {
		background-color: whiten($custom_cyan, 5%);
	}

}

#register,
#user,
#login,
#logout,
#filters,
#post {

	a {
		color: blacken($custom_cyan, 25%);
		font-size: $h4;
		text-decoration: none;
		@include text-shadow(rgba(255, 255, 255, .5) 0 1px);
		white-space: nowrap;
		background-color: $light;
		@include background-image(linear-gradient(rgba(255, 255, 255, .25), rgba(0, 0, 0, .1)));
		@include box-shadow(
			rgba(0, 0, 0, .1) 0 0 1px inset,
			rgba(0, 0, 0, .5) 0 0 1px
		);
		display: block;
		height: 54px;
			line-height: 54px;
		padding-right: 20px;
		padding-left: 20px;

		&:hover {
			color: blacken($custom_cyan, 25%, 2);
			background-color: whiten(blacken($beige, 25%), 25%, 5);
		}

	}

}

#register,
#user {
	padding-left: 5px !important;

	a {
		@include border-left-radius(3px);
	}

}

#login,
#logout {
	padding-left: 1px !important;

	a {
		@include border-right-radius(3px);
	}

}

#filters {
	padding-left: 5px !important;

	a {
		@include border-left-radius(3px);
		position: relative;
		padding-right: 30px;

		span {
			border-top: 4px solid $custom_cyan;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			position: absolute;
				top: 24px;
				right: 16px;
		}

		&:hover {

			span {
				border-top-color: blacken($custom_cyan, 25%);
			}

		}

		&.click {
			color: blacken($custom_cyan, 25%, 2);
			background-color: whiten(blacken($beige, 25%), 25%, 6) !important;
			@include background-image(none);
			@include border-bottom-left-radius(0);
			@include box-shadow(none);

			span {
				border-top: none;
				border-bottom: 4px solid blacken($custom_cyan, 25%);
			}

		}

	}

}

#search {
	width: 100%;
	padding-left: 1px !important;

	.table {
		background-color: whiten(blacken($beige, 25%), 25%, 4);
		@include background-image(linear-gradient(rgba(255, 255, 255, .25), rgba(0, 0, 0, .1)));
		@include border-right-radius(3px);
		@include box-shadow(
			rgba(0, 0, 0, .1) 0 0 1px inset,
			rgba(0, 0, 0, .5) 0 0 1px
		);
		display: table;
		margin-bottom: 0;

		.td {
			height: 30px;
			padding-top: 12px;
			padding-bottom: 12px;

			&.left {
				width: 100%;
				padding-left: 10px;
			}

			&.right {
				padding-right: 10px;
				padding-left: 5px;
			}

			div.input-text {
				background-color: white;
				border: 1px solid blacken(whiten(blacken($beige, 25%), 25%, 4), 5%, 2);
				border-top-color: blacken(whiten(blacken($beige, 25%), 25%, 4), 5%, 4);
				border-left-color: blacken(whiten(blacken($beige, 25%), 25%, 4), 5%, 4);
				height: 28px;
				padding-right: 9px;
				padding-left: 9px;

				input {
					height: 28px;
						line-height: 28px;
				}

				span.placeholder {
					color: blacken($beige, 25%);
					font-size: $h4;
					line-height: 28px;
				}

				&:hover,
				&.focus {
					border-color: $custom_cyan;
				}

				&.focus {

					span.placeholder {
						color: blacken($beige, 25%, 2);
					}

				}

			}

			a.g-button,
			input[type=submit] {
				border-color: blacken($whitesmoke, 25%);
				border-bottom-color: blacken($whitesmoke, 25%, 2);

				&:hover {
					border-color: blacken($whitesmoke, 25%, 2);
					border-bottom-color: blacken($whitesmoke, 25%, 3);
				}

				&:active {
					border-color: blacken($whitesmoke, 25%, 2);

					&:hover {
						border-color: blacken($whitesmoke, 25%, 3);
					}

				}

			}

			a.g-button {
				font-size: $h4;
				display: block;
				height: 28px;
					line-height: 28px;
				padding-top: 0;
				padding-bottom: 0;
			}

			input[type=submit] {
				display: none;
			}

		}

	}

}

#post {
	padding-left: 5px !important;

	a {
		color: white;
		text-align: center;
		@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
		background-color: $custom_orange;
		@include border-radius(3px);
		height: 36px;
			line-height: 18px;
		padding-top: 9px;
		padding-bottom: 9px;

		&:hover {
			color: white;
			background-color: whiten($custom_orange, 10%);
		}

	}

}

.no-js #table {
	position: static;

	#filters a {
		cursor: default;
		color: blacken($custom_cyan, 25%, 2);
		background-color: whiten(blacken($beige, 25%), 25%, 6);
		@include background-image(none);
		@include border-bottom-left-radius(0);
		@include box-shadow(none);
		padding-right: 20px;

		span {
			display: none;
		}

	}

	div.tr.filters {
		display: table-row;
	}

	tr.tr.filters {
		display: block;
	}

	#search {

		a.g-button {
			display: none;
		}

		input[type=submit] {
			display: inline;
		}

	}

}

#alert {
	@include h3;
	text-align: center;
	@include box-shadow(rgba(0, 0, 0, .5) 0 0 1px);
	margin-bottom: 0;
}

#column1,
#column2,
#column3,
#transition {
	padding-top: 18px;
	padding-bottom: 54px;
}

#column1 {
	

	#content {
		
	}

}

#column2 {

	#content-container {
		@include float-left;
		width: 100%;

		#content {
			position: relative;
			width: 730px;
			width: auto;
			margin-bottom: 0;
			margin-left: 220px;
		}

	}

	#sidebar {
		@include column(5);
		margin-bottom: 0;
		margin-left: -100%;
	}

}

.ie7 #column2 {
	padding-bottom: 36px;
}

#column3 {

	#content-container {
		@include float-left;
		width: 100%;

		#content {
			position: relative;
			width: 510px;
			width: auto;
			margin-right: 220px;
			margin-bottom: 0;
			margin-left: 220px;
		}

	}

	#sidebar-left {
		@include column(5);
		margin-bottom: 0;
		margin-left: -100%;
	}

	#sidebar-right {
		@include column(5, true);
		margin-bottom: 0;
		margin-left: -190px;
	}

}

#transition {

	#content-container {
		@include float-left;
		width: 100%;

		#content {
			margin-left:  490px;
		}

	}

	#sidebar {
		@include float-left;
		width: 460px;
		margin-left: -100%;
	}

}

div.breadcrumbs {
	color: white;
	/*
	background-color: white;
	@include border-bottom-right-radius(3px);
	*/
	position: absolute;
		z-index: 1;
	padding-right: 10px;

	a {
		color: whiten($custom_magenta, 25%, 5);
		text-decoration: none;
		@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);

		&:hover {
			color: whiten($custom_magenta, 25%, 6);
			text-decoration: underline;
		}

	}

}

#footer {
	@include container;
}