#site_index {
	position: relative;

	h2 {
		position: absolute;
	}

	div.categoryORlocation {
		@include float-left;
		width: 240px;
		margin-right: 10px;
	}

	div.latest {
		@include float-left;
		width: 490px;
	}

}

#site_index-sidebar {

	div.about {
		background-color: whiten($custom_pink, 25%, 3);
		border: 1px dashed $custom_pink;
		@include border-radius(2px);
		padding: 8px 9px 17px 9px;

		h2 {
			color: white;
			@include text-shadow(rgba(0, 0, 0, .05), 0, -1px, 0);
			margin-bottom: 9px;

			span {
				font-family: NewBaskervilleRegularItalic;
			}

		}

		p {
			color: white;
			@include text-shadow(rgba(0, 0, 0, .05) 0 -1px);
			margin-bottom: 9px;
		}

	}

}