#site_index {

	h2 {
		font-family: ProximaNovaSemibold;
		font-size: $h3;
		line-height: 18px;
		margin-bottom: 9px;
	}

	div.categoryORlocation {
		@include float-left;
		width: 230px;
		margin-right: 10px;
	}

	div.latest {
		@include float-left;
		width: 490px;
	}

}

#site_index-sidebar {

	div.about {
		background-color: whiten(blacken($beige, 25%), 25%, 6);
		@include border-radius(3px);
		height: 207px;
	}

}