#user_update {
	

	

} // #user_update

#user_view {

	h2 {
		color: white;
		font-family: sans-serif;
		@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
		word-wrap: break-word;
		line-height: 27px;
		margin-bottom: 27px;
		padding-top: 27px;
	}

} // #user_view

#user_view-sidebar-left {

	img.image,
	img.no-image {
		background-color: blacken(whiten($beige, 25%), 25%);
		display: block;
		margin-bottom: 18px;
	}

	img.image {
		border: 1px solid white;
	}

	img.no-image {
		width: 190px;
		height: 117px;
	}

}

#user_account {

	div.collumns {
		@include clearfix;

		div.left,
		div.right {
			@include float-left;
			width: 50%;

			caption {
				color: whiten($custom_orange, 25%, 3);
				@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
				background-color: transparent;
				font-size: $h4;
				line-height: 27px;
				padding: 0 0 0 10px;
			}

		}

		div.left div.padding {
			padding-right: 10px;

			div.image {
				background-color: rgba(0, 0, 0, .05);
				position: relative;
				width: 75px;
				height: 72px;

				img {
					border: 1px solid white;
					display: block;
					width: 73px;
					height: 70px;
				}

				a {
					background-color: whiten(blacken($beige, 25%), 25%, 4);
					border-bottom: 1px solid $custom_orange;
					border-left: 1px solid $custom_orange;
					position: absolute;
						top: 0;
						right: 0;
					display: none;
					width: 16px;
					height: 16px;

					span {
						cursor: pointer;
						background-color: whiten(blacken($beige, 25%), 25%, 4);
						@include _16-sprite(x-black);
						position: absolute;
							top: 0;
							right: 0;
						display: block;
						width: 16px;
						height: 16px;
						@include opacity(.25);
					}

					&:hover span {
						@include opacity(.5);
					}

				}

				&:hover {

					img {
						border-color: $custom_orange;
					}

					a {
						display: block;
					}

				}

				&.loading {
					border: 1px solid white;
					width: 73px;
					height: 70px;
					overflow: hidden;

					img {
						position: absolute;
							top: -1px;
							left: -1px;
						@include opacity(.25);
					}

					&:hover {

						a {
							display: none;
						}

					}

				}

			}

			img.no-image {
				border: 1px solid white;
				display: block;
				width: 73px;
				height: 70px;
			}

		}

		div.right div.padding {
			padding-left: 10px;
		}

	}

	table.foot {
		background-color: transparent;
		border-color: transparent;

		td {
			padding-right: 0;

			a.cancel,
			a.disabled {
				border-color: blacken($whitesmoke, 25%, 3);
				border-bottom-color: blacken($whitesmoke, 25%, 4);
			}

		}

	}

} // #user_account