#user_update {
	

	

} // #user_update

#user_view {

	h2 {
		color: white;
		font-family: sans-serif;
		@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
		word-wrap: break-word;
		line-height: 27px;
		margin-bottom: 27px;
		padding-top: 27px;
	}

} // #user_view

#user_account {

	div.collumns {
		@include clearfix;

		div.left,
		div.right {
			@include float-left;
			width: 50%;

			caption {
				color: whiten($custom_orange, 25%, 3);
				@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
				background-color: transparent;
				font-size: $h4;
				line-height: 27px;
				padding: 0 0 0 10px;
			}

		}

		div.left div.padding {
			padding-right: 10px;

			div.image {
				background-color: rgba(0, 0, 0, .05);
				width: 75px;
				height: 72px;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}

			}

		}

		div.right div.padding {
			padding-left: 10px;
		}

	}

	table.foot {
		background-color: transparent;
		border-color: transparent;

		td {
			padding-right: 0;

			a.cancel {
				border-color: blacken($whitesmoke, 25%, 3);
				border-bottom-color: blacken($whitesmoke, 25%, 4);
			}

		}

	}

} // #user_account