.g-button {
	cursor: pointer;
	color: $color_white;
	background-color: $color;
	padding: #{($line-height * .5) - 1px} #{($gutter-width * (2 / 3)) - 1px};
	border: none;
	@include border-radius($border-radius);

	&:hover, &:active, &:focus {
		color: $color_white;
		text-decoration: none;
		background-color: blacken($color, 25%);
	}

	&:visited {
		color: $color_white;

		&:hover {
			color: $color_white;
		}

	}

	&.small {
		padding: #{($line-height * (1 / 6))} #{($gutter-width * (1 / 3))};
	}

	&.is-disabled {
		cursor: default;
		background-color: whiten($color, 25%);
	}

} // .g-button

.g-button--primary {
	@extend .g-button;
	background-color: $color_customBrown;

	&:hover, &:active, &:focus {
		background-color: blacken($color_customBrown, 25%);
	}

}
