a {
	color: blacken($custom_cyan, 25%);

	&:hover {
		color: blacken($custom_cyan, 25%, 2);
	}

	&:focus {
		outline: none;
	}

	&:visited {
		color: blacken($custom_cyan, 25%);

		&:hover {
			color: blacken($custom_cyan, 25%, 2);
		}

	}

}

label, th {
	font-weight: normal;
}

/*
 * Bootstrap
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $sans-serif;
}

.dropdown-menu {

	li {

		a {
			color: $custom_magenta;
			text-decoration: none;

			i {
				color: $dark;
				text-align: center;
				width: $gutter-width;
			}

			&:hover {
				background-color: $custom_cyan;
			}

		}

	}

}

/*
 * g-
 */

div.g-actions {
	position: absolute;
		top: 0;
		right: -1px;

	a {
		@include float-left;
		color: blacken($beige, 25%, 3);
		text-decoration: none;
		@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
		background-color: $whitesmoke;
		@include background-image(linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1)));
		@include box-shadow(
			rgba(255, 255, 255, 1) 0 1px 1px inset,
			rgba(0, 0, 0, .5) 0 0 1px,
			rgba(0, 0, 0, .1) 0 1px
		);
		position: relative;
		margin-right: 1px;
		padding-right: 5px;
		padding-left: 5px;

		i {
			@include opacity(.25);
		}

		&:hover {
			color: blacken($beige, 25%, 4);
			background-color: whiten($whitesmoke, 25%);
			@include box-shadow(
				rgba(255, 255, 255, 1) 0 1px 1px inset,
				rgba(0, 0, 0, .5) 0 0 2px,
				rgba(0, 0, 0, .1) 0 1px
			);
			z-index: 1;

			i {
				@include opacity(.5);
			}

		}

	}

} // .g-actions

.g-button {
	cursor: pointer;
	color: blacken($beige, 25%, 4);
	@include text-shadow(0 1px rgba($white, 1));
	background-color: $whitesmoke;
	@include background-image(linear-gradient(rgba($white, .1), rgba($black, .1)));
	padding: #{($line-height * .5) - 1px} #{($gutter-width * (2 / 3)) - 1px};
	border: 1px solid blacken($whitesmoke, 25%, 3);
	border-bottom-color: blacken($whitesmoke, 25%, 4);
	@include box-shadow(
		0 1px 1px rgba($white, 1) inset,
		0 1px rgba($black, .05)
	);

	&:hover {
		color: blacken($beige, 25%, 5);
		text-decoration: none;
		background-color: whiten($whitesmoke, 25%);
		border-color: blacken($whitesmoke, 25%, 4);
		border-bottom-color: blacken($whitesmoke, 25%, 5);
	}

	&:active {
		background-color: blacken($whitesmoke, 10%);
		border-color: blacken($whitesmoke, 25%, 4);
		@include box-shadow(0 1px 1px rgba($black, .25) inset);

		&:hover {
			border-color: blacken($whitesmoke, 25%, 5);
		}

	}

	&.small {
		padding: #{($line-height * (1 / 6)) - 1px} #{($gutter-width * (1 / 3)) - 1px};
	}

	&.orange {
		color: $white;
		@include text-shadow(0 -1px rgba($black, .25));
		background-color: $custom_orange;
		@include box-shadow(
			0 1px 1px rgba($white, .25) inset,
			0 1px rgba($black, .05)
		);

		&:hover {
			color: $white;
			background-color: whiten($custom_orange, 10%);
		}

		&:active {
			background-color: blacken($custom_orange, 10%);
			@include box-shadow(0 1px 1px rgba($black, .25) inset);
		}

	}

	&.disabled {
		cursor: default;
		background-color: blacken($whitesmoke, 25%);
		border-color: blacken($whitesmoke, 25%, 2) !important;
		border-bottom-color: blacken($whitesmoke, 25%, 3) !important;

		&:hover, &:active {
			background-color: blacken($whitesmoke, 25%);
			border-color: blacken($whitesmoke, 25%, 2) !important;
			border-bottom-color: blacken($whitesmoke, 25%, 3) !important;
			@include box-shadow(
				0 1px 1px rgba($white, .25) inset,
				0 1px rgba($black, .05)
			);
		}

	}

} // .g-button

a.g-button {
	color: blacken($beige, 25%, 4);

	&:hover {
		color: blacken($beige, 25%, 5);
	}

}

div.g-form {
	position: relative;
	padding-top: 36px;

	h2 {
		color: whiten($custom_orange, 25%, 3);
		@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
		position: absolute;
			top: -9px;
			right: 0;
	}

} // .g-form

.g-items {
	position: relative;

	.toolbox {
		height: $line-height * 2;
			line-height: $line-height * 2;
		position: absolute;
			top: - ($line-height * 2);
			right: 0;
	}

	&.no-toolbox {
		padding-top: 0;

		.toolbox {
			display: none;
		}

	}

	&.grid {

		.list-view {

			.summary {}

			.items {
				padding-bottom: $line-height;
				margin-left: -$gutter-width;
				@include clearfix;

				.view-container {
					//width: #{(1 / 5) * 100%};
					padding-top: $line-height;
					padding-left: $gutter-width;
					float: left;

					&.clear-left{
						clear: left;
					}

				}

				.view {
					background-color: whiten(blacken($beige, 25%), 25%, 8);
					border: 1px solid whiten(blacken($beige, 25%), 25%, 6);
					padding: #{($line-height * .5) - 1px} #{($gutter-width * (2 / 3)) - 1px} #{($line-height * .5) + ($line-height * (1 / 6)) - 1px};
					@include clearfix;
					position: relative;


					.img {
						display: block;
						margin-bottom: $line-height * (1 / 3);
						overflow: hidden;

						img {
							display: block;
							width: 100%;
						}

					}

					strong {
						@include ellipsis;
						font-weight: 600;
						display: block;

						a {
							color: blacken($beige, 25%, 4);
							@include text-shadow(0 1px rgba($white, 1));
						}

					}

					em {
						@include ellipsis;
						color: blacken($beige, 25%, 2);
						margin-right: -100%;
						float: left;
					}

					.price {
						color: blacken($custom_green, 25%, 2);
						background-color: whiten(blacken($beige, 25%), 25%, 8);
						padding-left: $gutter-width * (2 / 3);
						margin-left: -100%;
						float: right;
						position: relative;

						&:before {
							content: '';
							@include background-image(linear-gradient(left, rgba(whiten(blacken($beige, 25%), 25%, 8), 0), rgba(whiten(blacken($beige, 25%), 25%, 8), 1)));
							width: $gutter-width;
							position: absolute;
								top: 1px;
								bottom: 1px;
								left: -$gutter-width;
						}

					}

					.location {
						color: blacken($beige, 25%);
						margin-right: -100%;
						clear: left;
						float: left;
					}

					.condition {
						color: $white;
						@include text-shadow(0 -1px rgba($black, .05));
						@include background-image(linear-gradient(rgba($white, .05), rgba($black, .05)));
						line-height: 14px;
						padding-right: $gutter-width * (1 / 3);
						padding-left: $gutter-width * (1 / 3);
						@include border-radius(2px);
						margin-top: 2px;
						margin-bottom: 2px;
						margin-left: -100%;
						clear: right;
						float: right;

						&.new {
							background-color: $custom_cyan;
						}

						&.old {
							background-color: $custom_magenta;
						}

					}

					&:hover {
						background-color: $white;
						border-color: whiten(blacken($beige, 25%), 25%, 4);
						@include box-shadow(0 0 2px rgba($black, .1));
						position: relative;

						.price {
							background-color: $white;

							&:before {
								@include background-image(linear-gradient(left, rgba($white, 0), rgba($white, 1)));
							}

						}

					}

				} // .view

			} // .items

			&.list-view-loading {
				background-position: left bottom;

				.items {
					@include opacity(.75);
				}

			}

		} // .list-view

	} // .grid

	&.list {
		

		div.list-view {
			

			div.items {
				

				div.view {
					@include clearfix;
					background-color: whiten(blacken($beige, 25%), 25%, 6);
					border-top: 1px dotted white;
					padding: 17px 10px 18px;

					&:first-child {
						border-top: none;
						padding-top: 18px;
					}

					div.data-container {
						@include float-left;
						width: 100%;

						div.data {
							margin-left: 55px;

							table {
								margin-bottom: 0;

								th, td {
									padding: 0;
								}

								th {
									width: 100%;
									padding-right: 5px;

									strong {
										@include ellipsis;
										display: block;

										a {
											color: blacken($beige, 25%, 4);
											text-decoration: none;
											@include text-shadow(rgba(255, 255, 255, 1) 0 1px);

											&:hover {
												text-decoration: underline;
											}

										}

									}

								}

								td {
									white-space: nowrap;

									&.condition {
										padding-right: 5px;
										padding-left: 5px;

										span.condition {
											color: white;
											@include text-shadow(rgba(0, 0, 0, .05) 0 -1px);
											@include background-image(linear-gradient(rgba(255, 255, 255, .05), rgba(0, 0, 0, .05)));
											@include border-radius(2px);
											padding-right: 4px;
											padding-left: 4px;

											&.new {
												background-color: $custom_cyan;
											}

											&.old {
												background-color: $custom_magenta;
											}

										}

									}

									&.price {
										color: blacken($custom_green, 25%, 2);
										padding-left: 5px;
									}

								}

							} // table

							em {
								color: blacken($beige, 25%, 2);
							}

							span.location {
								color: blacken($beige, 25%);
							}

							span.time {
								@include float-right;
								color: blacken($beige, 25%);
								//font-size: $small;
								height: 18px;
									line-height: 18px;

								abbr {
									color: blacken($beige, 25%, 2);
									border-bottom: none;
								}

							}

						} // .data

					} // .data-container

					a.img {
						@include float-left;
						width: 45px;
						height: 36px;
						margin-left: -100%;

						img {
							background-color: whiten(blacken($beige, 25%), 25%, 4);
							background-position: center;
							background-repeat: no-repeat;
							@include background-size(100%);
							display: block;
							width: 100%;
							height: 100%;
						}

					}

					&:hover {
						background-color: transparent;
					}

				} // .view

			} // .items

		} // .list-view

	} // .list

	.pager {
		margin-top: 0;
	}

} // .g-items

.g-pager {
	padding-left: 0;
	margin-bottom: 0;
	float: right;

	li {

		a {
			@extend .g-button;
			@extend .g-button.small;
			text-align: center;
			min-width: $gutter-width * 2;
			@include border-radius(0);
			display: inline-block;
		}

		&.previous,
		&.next {

			a {
				float: none;
			}

		}

		&.selected {

			a {
				@extend .g-button:active;
				cursor: default;
			}

		}

	}

} // .g-pager

table.g-table {
	border-spacing: 1px;
	margin-bottom: 0;

	th, td {
		@include box-shadow(rgba(0, 0, 0, .25) 0 0 1px);
		padding: 9px 15px;
	}

	th {
		color: blacken($beige, 25%, 3);
		@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
		white-space: nowrap;
		background-color: whiten(blacken($beige, 25%), 25%, 4);
		@include background-image(linear-gradient(rgba(255, 255, 255, .05), rgba(0, 0, 0, .05)));
	}

	td {
		color: blacken($beige, 25%, 3);
		//font-size: $h4;
		line-height: 18px;
		background-color: whiten(blacken($beige, 25%), 25%, 3);
		width: 100%;
	}

} // .g-table

div.g-tabs {
	font-family: ProximaNovaRegular;
	font-size: 1em;
	background-color: transparent;
	background-image: none;
	border: none;
	@include border-radius(0);
	padding: 18px 0 0;

	ul.ui-tabs-nav {
		background-color: transparent;
		background-image: none;
		border: none;
		@include border-radius(0);
		height: 27px;
		margin-top: -1px;
		padding: 1px 0 9px 10px;
		overflow: hidden;

		li {
			background-color: whiten(blacken($beige, 25%), 25%, 3);
			@include background-image(linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1)));
			border: none;
			@include border-radius(3px);
			@include box-shadow(rgba(0, 0, 0, .5) 0 0 1px);
			top: 0;
			height: 27px;
			margin-right: 10px;

			a {
				color: whiten(blacken($beige, 25%), 25%, 4);
				color: blacken($beige, 25%, 3);
				//font-size: $h4;
				@include text-shadow(rgba(0, 0, 0, .5) 0 1px);
				@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
				line-height: 27px;
				padding: 0 10px;
			}

			&:hover {
				background-color: whiten(blacken($beige, 25%), 25%, 4);
				background-image: none;

				a {}

			}

			&.ui-tabs-selected {
				background-color: whiten(blacken($beige, 25%), 25%, 4);
				@include border-bottom-radius(0);
				background-image: none;
				padding-bottom: 9px;

				a {
					color: blacken($beige, 25%, 3);
					@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
				}

				&:hover {

					a {
						cursor: default;
					}

				}

			}

		}

	}

	div.tab-content {
		background-color: whiten(blacken($beige, 25%), 25%, 4);
		@include border-radius(3px);
		@include box-shadow(rgba(0, 0, 0, .5) 0 0 1px);
		padding: 18px 20px;
	}

} // .g-tabs

.no-js div.g-tabs {

	> ul {
		display: none;
	}

	div.tab-content {
		margin-bottom: 18px;
	}

}
