a {
	color: blacken($custom_cyan, 25%);

	&:hover {
		color: blacken($custom_cyan, 25%, 2);
	}

	&:focus {
		outline: none;
	}

	&:visited {
		color: blacken($custom_cyan, 25%);

		&:hover {
			color: blacken($custom_cyan, 25%, 2);
		}

	}

}

label, th {
	font-weight: 400;
}

/*
 * Bootstrap
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $sans-serif;
}

.dropdown-menu {

	li {

		a {
			color: $custom_magenta;
			text-decoration: none;

			i {
				color: $dark;
				text-align: center;
				width: $gutter-width;
			}

			&:hover {
				background-color: $custom_cyan;
			}

		}

	}

}

/*
 * g-
 */

div.g-actions {
	position: absolute;
		top: 0;
		right: -1px;

	a {
		@include float-left;
		color: blacken($beige, 25%, 3);
		text-decoration: none;
		@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
		background-color: $whitesmoke;
		@include background-image(linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1)));
		@include box-shadow(
			rgba(255, 255, 255, 1) 0 1px 1px inset,
			rgba(0, 0, 0, .5) 0 0 1px,
			rgba(0, 0, 0, .1) 0 1px
		);
		position: relative;
		margin-right: 1px;
		padding-right: 5px;
		padding-left: 5px;

		i {
			@include opacity(.25);
		}

		&:hover {
			color: blacken($beige, 25%, 4);
			background-color: whiten($whitesmoke, 25%);
			@include box-shadow(
				rgba(255, 255, 255, 1) 0 1px 1px inset,
				rgba(0, 0, 0, .5) 0 0 2px,
				rgba(0, 0, 0, .1) 0 1px
			);
			z-index: 1;

			i {
				@include opacity(.5);
			}

		}

	}

} // .g-actions

.g-button {
	cursor: pointer;
	color: blacken($beige, 25%, 4);
	@include text-shadow(0 1px rgba($white, 1));
	background-color: $whitesmoke;
	@include background-image(linear-gradient(rgba($white, .1), rgba($black, .1)));
	padding: #{($line-height * .5) - 1px} #{($gutter-width * (2 / 3)) - 1px};
	border: 1px solid blacken($whitesmoke, 25%, 3);
	border-bottom-color: blacken($whitesmoke, 25%, 4);
	@include box-shadow(
		0 1px 1px rgba($white, 1) inset,
		0 1px rgba($black, .05)
	);

	&:hover {
		color: blacken($beige, 25%, 5);
		text-decoration: none;
		background-color: whiten($whitesmoke, 25%);
		border-color: blacken($whitesmoke, 25%, 4);
		border-bottom-color: blacken($whitesmoke, 25%, 5);
	}

	&:active {
		background-color: blacken($whitesmoke, 10%);
		border-color: blacken($whitesmoke, 25%, 4);
		@include box-shadow(0 1px 1px rgba($black, .25) inset);

		&:hover {
			border-color: blacken($whitesmoke, 25%, 5);
		}

	}

	&.small {
		padding: #{($line-height * (1 / 6)) - 1px} #{($gutter-width * (1 / 3)) - 1px};
	}

	&.orange {
		color: $white;
		@include text-shadow(0 -1px rgba($black, .25));
		background-color: $custom_orange;
		@include box-shadow(
			0 1px 1px rgba($white, .25) inset,
			0 1px rgba($black, .05)
		);

		&:hover {
			color: $white;
			background-color: whiten($custom_orange, 10%);
		}

		&:active {
			background-color: blacken($custom_orange, 10%);
			@include box-shadow(0 1px 1px rgba($black, .25) inset);
		}

	}

	&.disabled {
		cursor: default;
		background-color: blacken($whitesmoke, 25%);
		border-color: blacken($whitesmoke, 25%, 2) !important;
		border-bottom-color: blacken($whitesmoke, 25%, 3) !important;

		&:hover, &:active {
			background-color: blacken($whitesmoke, 25%);
			border-color: blacken($whitesmoke, 25%, 2) !important;
			border-bottom-color: blacken($whitesmoke, 25%, 3) !important;
			@include box-shadow(
				0 1px 1px rgba($white, .25) inset,
				0 1px rgba($black, .05)
			);
		}

	}

} // .g-button

a.g-button {
	color: blacken($beige, 25%, 4);

	&:hover {
		color: blacken($beige, 25%, 5);
	}

}

div.g-form {
	position: relative;
	padding-top: 36px;

	h2 {
		color: whiten($custom_orange, 25%, 3);
		@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
			top: -9px;
			right: 0;
	}

} // .g-form

.g-items {
	position: relative;

	.toolbox {
		height: $line-height * 2;
			line-height: $line-height * 2;
		position: absolute;
			top: - ($line-height * 2);
			right: 0;
	}

	&.no-toolbox {
		padding-top: 0;

		.toolbox {
			display: none;
		}

	}

	@mixin g-items_list {

		.list-view {
			padding-top: $line-height;

			.items {
				width: 100%;
				padding-bottom: 0; //
				border-collapse: collapse;
				margin-bottom: $line-height;
				display: table;
				overflow: visible; //

				.view-row {
					border-top: 1px solid $dark;
					margin-top: 0; //
					margin-left: 0; //
					display: block;
					overflow: visible; //

					.view-container {
						padding-left: 0; //
						display: table-row-group;
						float: none; //

						&.clear-left {
							clear: none; //
						}

					}

					.view {
						background-color: transparent; //
						padding: 0; //
						display: table-row;
						position: static; //
						overflow: visible; //

						&:before {
							display: none; //
						}

						> * {
							vertical-align: top;
							background-color: whiten(blacken($beige, 25%), 25%, 6);
							padding: #{($line-height * .5) - 1px} #{$gutter-width * (2 / 3)} #{$line-height * .5};
							border-top: 1px solid $dark;
							display: table-cell !important;
							position: static; //
						}

						.img,
						strong,
						em,
						.price,
						.time,
						.location {
							//border-right: 1px solid $dark;
						}

						strong,
						em,
						.price,
						.time,
						.location,
						.condition {
							//border-left: 1px solid $dark;
						}

						em,
						.price,
						.time,
						.location {
							@extend .hidden-xs;
							white-space: nowrap;
						}

						.img {
							border-right: 1px solid $dark;
							margin-bottom: 0; //
							overflow: visible; //

							img {
								width: auto; //
								height: $line-height * 2;
								display: block;
							}

						}

						strong {
							font-weight: 600;
							//white-space: normal; //
							word-break: break-all;
							width: 100%;
							min-height: auto; //
							border-left: 1px solid $dark;

							a {
								//color: blacken($beige, 25%, 4);
								@include text-shadow(0 1px rgba($white, 1));

								&:hover {
									text-decoration: none;
								}

							}

							.price-xs,
							.time-xs,
							.location-xs {
								@extend .visible-xs;
								font-weight: 400;
							}

							.price-xs {
								color: blacken($custom_green, 25%, 2);
							}

							.time-xs,
							.location-xs {
								color: blacken($beige, 25%, 2);

								i {
									text-align: center;
									width: $gutter-width;
									margin-right: $gutter-width * (1 / 3);
								}

							}

						}

						em {
							color: blacken($beige, 25%, 2);
							font-size: .75em;
							font-style: normal;
							margin-right: 0; //
							float: none; //
						}

						.price {
							color: blacken($custom_green, 25%, 2);
							margin-bottom: 0; //
							//margin-left: 0; //
							//float: none; //
							//position: static; //

							/*
							&:before {
								display: none; //
							}
							*/

						}

						.time {
							color: blacken($beige, 25%, 2);
							font-size: .75em;

							i {
								text-align: center;
								width: $gutter-width;
								margin-right: $gutter-width * (1 / 3);
							}

						}

						.location {
							color: blacken($beige, 25%, 2);
							font-size: .75em;
							//margin-right: 0; //
							//clear: none; //
							//float: none; //

							i {
								text-align: center;
								width: $gutter-width;
								margin-right: $gutter-width * (1 / 3);
							}

						}

						.condition {
							text-align: center;
							//margin-left: 0; //
							//clear: none; //
							float: none; //
							position: static; //

							/*
							&:before {
								display: none; //
							}
							*/

							span {
								color: $white;
								font-size: .75em;
								text-align: center;
								@include text-shadow(0 -1px rgba($black, .05));
								@include background-image(linear-gradient(rgba($white, .05), rgba($black, .05)));
								line-height: $line-height * .75;
								padding-right: $gutter-width * (1 / 3);
								padding-left: $gutter-width * (1 / 3);
								@include border-radius(2px);
								display: inline-block;
							}

							&.new span {
								background-color: blacken($custom_green, 25%);
							}

							&.old span {
								background-color: $custom_magenta;
							}

						}

						&:hover {
							background-color: transparent; //
							position: static; //
								z-index: 0; //

							> * {
								background-color: $white;
							}

						}

					} // .view

					.view-container:first-child .view > * {
						padding-top: ($line-height * .5) - 1px;
						border-top: none;
					}

					&:first-child {
						border-top: none;

						.view-container:first-child .view > * {
							padding-top: $line-height * .5;
						}

					}

				} // .view-row

			} // .items

			&.list-view-loading {
				background-position: left bottom;

				.items {
					@include opacity(.75);
				}

			}

		} // .list-view

	} // @mixin g-items_list

	&.grid {

		.list-view {

			.items {
				padding-bottom: $line-height;
				@include clearfix;
				overflow: hidden;

				.view-row {
					margin-top: 1px;
					margin-left: -1px;
					@include clearfix;
					overflow: hidden;

					.view-container {
						//width: (1 / 5) * 100%;
						padding-left: 1px;
						float: left;

						&.clear-left{
							clear: left;
						}

					}

					.view {
						background-color: whiten(blacken($beige, 25%), 25%, 8);
						padding: #{($line-height * .5) - 1px} #{$gutter-width * (2 / 3)} #{($line-height * .5) + ($line-height * (1 / 6))};
						@include clearfix;
						position: relative;
						//overflow: hidden;

						&:before {
							content: '';
							background-color: whiten(blacken($beige, 25%), 25%, 8);
							display: block;
							position: absolute;
								top: 0;
								right: 0;
								bottom: -$line-height * 2;
								left: 0;
							@include transition(all .25s);
						}

						> * {
							position: relative;
						}

						.img {
							margin-bottom: $line-height * (1 / 3);
							display: block;
							overflow: hidden;

							img {
								display: block;
								width: 100%;
							}

						}

						strong {
							//@include ellipsis;
							font-weight: 600;
							//word-break: break-all;
							min-height: $line-height * 4;
							display: block;
							overflow: hidden;

							a {
								//color: blacken($beige, 25%, 4);
								@include text-shadow(0 1px rgba($white, 1));

								&:hover {
									text-decoration: none;
								}

							}

							.price-xs,
							.time-xs,
							.location-xs {
								display: none;
							}

						}

						em {
							@include ellipsis;
							color: blacken($beige, 25%, 2);
							font-size: .75em;
							font-style: normal;
							margin-right: -100%;
							float: left;
						}

						.price {
							color: blacken($custom_green, 25%, 2);
							//background-color: whiten(blacken($beige, 25%), 25%, 8);
							//padding-left: $gutter-width * (2 / 3);
							margin-bottom: $line-height * .5;
							//margin-left: -100%;
							display: block;
							//float: right;
							//position: relative;

							/*
							&:before {
								content: '';
								@include background-image(linear-gradient(left, rgba(whiten(blacken($beige, 25%), 25%, 8), 0), rgba(whiten(blacken($beige, 25%), 25%, 8), 1)));
								width: $gutter-width;
								position: absolute;
									top: 0;
									bottom: 0;
									left: -$gutter-width;
							}
							*/

						}

						.time {
							color: blacken($beige, 25%, 2);
							font-size: .75em;
							display: block;

							i {
								text-align: center;
								width: $gutter-width;
								margin-right: $gutter-width * (1 / 3);
							}

						}

						.location {
							color: blacken($beige, 25%, 2);
							font-size: .75em;
							//margin-right: -100%;
							//clear: left;
							//float: left;

							i {
								text-align: center;
								width: $gutter-width;
								margin-right: $gutter-width * (1 / 3);
							}

						}

						.condition {
							text-align: right;
							//background-color: whiten(blacken($beige, 25%), 25%, 8);
							//padding-left: $gutter-width * (2 / 3);
							//margin-left: -100%;
							//clear: right;
							display: block;
							//float: right;
							//position: relative;

							/*
							&:before {
								content: '';
								@include background-image(linear-gradient(left, rgba(whiten(blacken($beige, 25%), 25%, 8), 0), rgba(whiten(blacken($beige, 25%), 25%, 8), 1)));
								width: $gutter-width;
								position: absolute;
									top: 0;
									bottom: 0;
									left: -$gutter-width;
							}
							*/

							span {
								color: $white;
								font-size: .75em;
								@include text-shadow(0 -1px rgba($black, .05));
								@include background-image(linear-gradient(rgba($white, .05), rgba($black, .05)));
								padding-right: $gutter-width * (1 / 3);
								padding-left: $gutter-width * (1 / 3);
								@include border-radius(2px);
							}

							&.new span {
								background-color: blacken($custom_green, 25%);
							}

							&.old span {
								background-color: $custom_magenta;
							}

						}

						&:hover {
							background-color: $white;
							position: relative;
								z-index: 1;

							&:before {
								background-color: $white;
								@include box-shadow(0 0 8px rgba($black, .25));
							}

							.price,
							.condition {
								//background-color: $white;

								&:before {
									@include background-image(linear-gradient(left, rgba($white, 0), rgba($white, 1)));
								}

							}

						}

					} // .view

					&:first-child {
						margin-top: 0;

						.view {
							padding-top: #{$line-height * .5};
						}

					}

				} // .view-row

			} // .items

			&.list-view-loading {
				background-position: left bottom;

				.items {
					@include opacity(.75);
				}

			}

		} // .list-view

	} // .grid

	@media (max-width: $screen-xs-max) {
		&.grid {
			@include g-items_list;
		}
	}

	&.list {
		@include g-items_list;
	}

	.pager {
		margin-top: 0;
	}

} // .g-items

.g-pager {
	@include user-select(none);
	padding-left: 0;
	margin-bottom: 0;
	float: right;

	* {
		@include user-select(none);
	}

	li {

		a {
			@extend .g-button;
			@extend .g-button.small;
			text-align: center;
			min-width: $gutter-width * 2;
			@include border-radius(0);
			display: inline-block;
		}

		&.previous,
		&.next {

			a {
				float: none;
			}

		}

		&.selected {

			a {
				@extend .g-button:active;
				cursor: default;
			}

		}

	}

} // .g-pager

table.g-table {
	border-spacing: 1px;
	margin-bottom: 0;

	th, td {
		@include box-shadow(rgba(0, 0, 0, .25) 0 0 1px);
		padding: 9px 15px;
	}

	th {
		color: blacken($beige, 25%, 3);
		@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
		white-space: nowrap;
		background-color: whiten(blacken($beige, 25%), 25%, 4);
		@include background-image(linear-gradient(rgba(255, 255, 255, .05), rgba(0, 0, 0, .05)));
	}

	td {
		color: blacken($beige, 25%, 3);
		//font-size: $h4;
		line-height: 18px;
		background-color: whiten(blacken($beige, 25%), 25%, 3);
		width: 100%;
	}

} // .g-table

div.g-tabs {
	font-family: ProximaNovaRegular;
	font-size: 1em;
	background-color: transparent;
	background-image: none;
	border: none;
	@include border-radius(0);
	padding: 18px 0 0;

	ul.ui-tabs-nav {
		background-color: transparent;
		background-image: none;
		border: none;
		@include border-radius(0);
		height: 27px;
		margin-top: -1px;
		padding: 1px 0 9px 10px;
		overflow: hidden;

		li {
			background-color: whiten(blacken($beige, 25%), 25%, 3);
			@include background-image(linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1)));
			border: none;
			@include border-radius(3px);
			@include box-shadow(rgba(0, 0, 0, .5) 0 0 1px);
			top: 0;
			height: 27px;
			margin-right: 10px;

			a {
				color: whiten(blacken($beige, 25%), 25%, 4);
				color: blacken($beige, 25%, 3);
				//font-size: $h4;
				@include text-shadow(rgba(0, 0, 0, .5) 0 1px);
				@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
				line-height: 27px;
				padding: 0 10px;
			}

			&:hover {
				background-color: whiten(blacken($beige, 25%), 25%, 4);
				background-image: none;

				a {}

			}

			&.ui-tabs-selected {
				background-color: whiten(blacken($beige, 25%), 25%, 4);
				@include border-bottom-radius(0);
				background-image: none;
				padding-bottom: 9px;

				a {
					color: blacken($beige, 25%, 3);
					@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
				}

				&:hover {

					a {
						cursor: default;
					}

				}

			}

		}

	}

	div.tab-content {
		background-color: whiten(blacken($beige, 25%), 25%, 4);
		@include border-radius(3px);
		@include box-shadow(rgba(0, 0, 0, .5) 0 0 1px);
		padding: 18px 20px;
	}

} // .g-tabs

.no-js div.g-tabs {

	> ul {
		display: none;
	}

	div.tab-content {
		margin-bottom: 18px;
	}

}
