#item_create,
#item_update {

	table.price {
		width: 100%;

		tbody {
			display: table-row-group;
		}

		tr {
			padding-top: 0;
			padding-bottom: 0;
			display: table-row;
		}

		th, td {
			display: table-cell;
		}

		th {
			width: 100%;
		}

		td {
			padding-left: $gutter-width * (1 / 3);
		}

	}

	div.price {
		padding-left: $gutter-width * 3;

		span.prepend {
			color: blacken($custom_green, 25%, 2);
			position: absolute;
				left: $gutter-width * (2 / 3);
		}

		span.placeholder {
			left: $gutter-width * 3;
		}

	}

	label.free {
		font-size: 1.25em;
		font-weight: 400;
		white-space: nowrap;
		//margin-top: $line-height * (1 / 6);
		//margin-bottom: $line-height * (1 / 6);
		margin-bottom: 0;

		input[type=checkbox] {
			margin-top: -($line-height * (1 / 9));
			outline: none;
			vertical-align: middle;
		}

	}

	.images {
		margin-right: -($gutter-width * (1 / 3));
		margin-left: -($gutter-width * (1 / 3));
		overflow: auto;

		.image-container {
			width: 25%;
			margin-bottom: $line-height * .5;
			float: left;
		}

		.image {
			cursor: move;
			margin-right: $gutter-width * (1 / 3);
			margin-left: $gutter-width * (1 / 3);
			border: 1px solid $color_customBrown;
			position: relative;

			img {
				width: 100%;
			}

			a {
				text-align: center;
				background-color: $color_body-bg;
				width: $gutter-width;
				height: $line-height;
					line-height: $line-height;
				border-bottom: 1px solid $color_customBrown;
				border-left: 1px solid $color_customBrown;
				display: none;
				position: absolute;
					top: -1px;
					right: -1px;

				i {
					cursor: pointer;
					color: $color_alizarin;
				}

				&:hover i {
					color: $color_pomegranate;
				}

			}

			&.new {
				border-color: $color_turquoise;
			}

			&:hover {
				border-color: $color_customBrown;

				a {
					display: block;
				}

			}

			&.ui-sortable-helper {
				border-color:  blacken($custom_green, 25%);

				a {
					display: none;
				}

			}

		}

		.image-container:first-child .image {
			border-color: $color_white;

			&:hover {
				border-color: $color_customBrown;
			}

		}

	}

}

.no-js {

	#item_create,
	#item_update {

		.images,
		#Item_images {
			display: none;
		}

	}

}

@media (max-width: $screen-xs-max) {
	#item_create,
	#item_update {

		.images,
		#Item_images {

			.image {
				
				a {
					display: block;
				}

				&.new {

					a {
						border-color: $color_turquoise;
					}

				}

				&:hover {
					border-color: $color_white;

					a {
						border-color: $color_white;
					}

				}

			}

			.image-container:first-child .image {

				a {
					border-color: $color_white;
				}

				&:hover {
					border-color: $color_white;
				}

			}

		}

	}
}

#item_create
{
	h2{display:block;
		font-weight: bold;
		font-size: 1.25em;
		position: relative;
		}
}


#item_search {

	h2 {
		font-size: 1em;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 0;

		span {
			font-weight: 700;
		}

	}

	.filters {
		margin-top: $line-height * .5;
		margin-right: -($gutter-width * (1 / 3));
		margin-left: -($gutter-width * (1 / 3));

		> a,
		> .dropDownList {
			max-width: (1 / 2) * 100%;
			padding-right: $gutter-width * (1 / 3);
			padding-left: $gutter-width * (1 / 3);
			margin-top: $line-height * (1 / 3);
			margin-bottom: $line-height * (1 / 3);
			display: inline-block;
			vertical-align: middle;
		}

		> a {
			position: relative;

			span {
				@extend .g-button;
				@extend .g-button.small;
				@include ellipsis;
				background-color: $color;
				max-width: 100%;
				padding-right: $gutter-width * 1.5;
				display: inline-block;
				vertical-align: top;
			}

			i {
				color: $color_white;
				position: absolute;
					top: 5px;
					right: $gutter-width * (2 / 3);
			}

		}

	}

	.g-items {
		margin-top: $line-height
	}

}

#item_view {

	.img {
		background-color: $color_white;

		.hes-slider-slide {

			a {
				text-align: center;
				display: block;

				img {
					max-width: 100%;
					display: inline-block;
				}

			}

		}

		.hes-slider-prev,
		.hes-slider-next {

			span {
				color: $color_customBrown;
				background-color: $color_customYellow;
				padding: $line-height $gutter-width;

				&:hover {
					color: $color_white;
					background-color: $color_customBrown;
				}

			}

		}

		.hes-slider-prev span {
			@include border-right-radius($border-radius);
		}

		.hes-slider-next span {
			@include border-left-radius($border-radius);
		}

	}

	.imgs {
		@extend .hidden-sm;
		@extend .hidden-xs;
		background-color: $color_asbestos;
		padding-right: ($gutter-width * (1 / 3)) + ($gutter-width * 2);
		padding-left: ($gutter-width * (1 / 3)) + ($gutter-width * 2);

		.hes-slider-slide {
			width: (1 / 5) * 100%;

			a {
				padding: #{$line-height * .5} #{$gutter-width * (1 / 3)};
				display: block;

				img {
					width: 100%;
					display: block;
				}

			}

		}

		.hes-slider-prev,
		.hes-slider-next {

			span {
				color: $color_white;
				width: ($gutter-width * 2) + ($gutter-width * (1 / 3));
			}

		}

	}

	.header {
		background-color: $color_white;
		padding: #{$line-height * .5} $gutter-width $line-height;
		@include border-radius($border-radius);
		margin-top: $line-height;

		h1 {
			font-size: 1.5em;
			text-align: left;
			margin-top: 0;
			margin-bottom: 0;
		}

		.price {
			color: $color_greenSea;
			font-size: 1.5em;
			font-weight: 700;
			text-align: left;
			margin-top: $line-height * .5;
			display: block;
		}


		.conditionListed{
		margin-top: $line-height;
/* 		margin-bottom: $line-height; */
		color: $color_body_copy;
		}

	}

	.actions {
		text-align: right;
		line-height: $line-height * 2;
		margin-top: $line-height;
		margin-bottom: $line-height;
	}

	.social-share {
		overflow:hidden;
		margin-top: $line-height;
		@include clearfix;

		> div, > a, > iframe {
			margin-right: $gutter-width * (2 / 3);
			//margin-left: $gutter-width * (1 / 3);
			float: left;
		}

		.fb-share-button {
			width: auto !important;
		}

	}

	.info {
		background-color: $color_white;
		width: 100%;
		@include border-top-radius($border-radius);
		margin-top: $line-height;

		th, td {
			padding-top: ($line-height * .5) - 1px;
			padding-bottom: $line-height * .5;
			border-top: 1px solid $color_body-bg;
		}

		th {
			color: $color_customBrown;
			font-size: .75em;
			white-space: nowrap;
			padding-right: $gutter-width * .5;
			padding-left: $gutter-width;
		}

		td {
			font-weight: 600;
			padding-right: $gutter-width;
			padding-left: $gutter-width * .5;
		}

		tbody {

			tr:first-child {

				th, td {
					padding-top: $line-height * .5;
					border-top: none;
				}

			}

			td {
				width: 100%;
			}

		}

		tfoot {

			th {

				&.views {
					padding-left: $gutter-width * .5;
				}

			}

			td {
				font-size: .75em;
				white-space: nowrap;
				width: 50%;

				&.created {
					padding-right: $gutter-width * .5;
				}

			}

		}

	}

	.description {
		color: $color_body_copy;
		background-color: $color_white;
		padding: #{$line-height - 1px} $gutter-width #{$line-height * 1.5};
		@include border-bottom-radius($border-radius);
		margin-top: 1px;
		margin-bottom: 0;
	}

	.tabs {
		margin-top: $line-height;

		.nav-tabs {
			border-bottom-color: transparent;

			> li {

				&.active {

					> a, a:hover, a:focus {
						background-color: $color_white;
						border-top-color: $color_white;
						border-right-color: $color_white;
						border-left-color: $color_white;
					}

				}

			}

		}

		.tab-content {

			.tab-pane {
				background-color: $color_white;
				padding: $line-height $gutter-width;
				@include border-bottom-radius($border-radius);
				@include border-radius($border-radius);

				&:first-child {
					@include border-top-left-radius(0);
				}

			}

		}

		table {
			width: 100%;

			th, td {
				padding-top: $line-height * .5;
			}

			tbody {

				tr:first-child {

					th, td {
						padding-top: 0;
						
					}

				}

				th {
					color: $color_headings;
					white-space: nowrap;
					padding-right: $gutter-width * .5;
				}

				td {
					color: $color_body_copy;
					font-weight: 600;
					width: 100%;
					padding-left: $gutter-width * .5;
				}

			}

			tfoot {

				td {
					text-align: right;
					line-height: $line-height * 2;
				}

			}

		}

		.pickup {
			color: $color_body_copy;
			margin-top: $line-height;
			margin-bottom: 0;
		}

	}

	> .row {
		position: relative;

		> aside {
			position: absolute;
				top: 0;
				right: 0;
		}
		
	}

}

@media (max-width: $screen-sm-max) {
	#item_view {

		.img {
			margin-right: -$gutter-width;
			margin-left: -$gutter-width;
		}

		> .row {
			position: static;

			> aside {
				position: relative;
			}

		}

	}
}

#item_view-sidebar {
	margin-top: $line-height;

	.actions {
		margin-bottom: $line-height;
	}

	.user {
		color: $color_white;
		background-color: $color_green;
		line-height: $line-height * 1.5;
		padding: #{$line-height * .5} $gutter-width;
		@include border-top-radius($border-radius);
		@include clearfix;

		strong {
			font-size: 1.25em;
			margin-right: $gutter-width * (2 / 3);
			float: left;
		}

		.user-img {
			color: $color_green;
			background-color: whiten($color_white, 25%, 4);
			height: $line-height * 1.5;
				line-height: $line-height * 1.5;
			padding-right: $gutter-width * (1 / 3);
			@include border-radius($border-radius);
			float: left;

			img {
				@include box-sizing(content-box);
				height: $line-height * 1.5;
/* 				border-right: 1px solid $color_customBrown; */
				@include border-left-radius($border-radius);
				margin-right: $gutter-width * (1 / 3);
				display: inline-block;
				vertical-align: top;

				&:hover {
					text-decoration: none;
				}

			}

			i {
				text-align: center;
				width: $gutter-width * 2;
			}

		}

		.user-created {
			@extend .hidden-xs;
			display: block;
		}

	}

	.contact {
		background-color: $color_white;
		padding: $line-height $gutter-width #{$line-height * 1.5};
		@include border-bottom-radius($border-radius);

		.phone,
		.email {
			color: $color_customBrown;
			font-size: 1.25em;
			margin-bottom: $line-height * .5;
			display: block;

			i {
				text-align: center;
				width: $gutter-width * 2;
			}

		}

		//.guest {

			p {
				
				color: $color_body_copy;
				font-size: 1em;
				//text-align: center;
				line-height: 1.25;
				margin-top: 0;
				margin-bottom: $line-height * .5;

				a {
					white-space: nowrap;
				}

			}

		}

	//}

}

/*
#item_view {

	table.header {
		margin-bottom: 9px;

		caption {
			display: none;
		}

		th, td {
			padding: 27px 0 0;
		}

		th {
			word-wrap: break-word;
			width: 100%;
			padding-right: 15px;

			h1 {
				color: white;
				@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
				word-wrap: break-word;
				line-height: 27px;
				margin-bottom: 0;
			}

		}

		td {
			vertical-align: top;
			color: $custom_green;
			@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
			white-space: nowrap;
			line-height: 27px;
			padding-left: 15px;
		}

	}

	div.tags {
		@include clearfix;
		height: 18px;
		margin-bottom: 9px;

		span {
			@include float-left;
			color: blacken($beige, 25%, 4);
			@include text-shadow(rgba(255, 255, 255, .25) 0 1px);
			background-color: $whitesmoke;
			@include background-image(linear-gradient(rgba(255, 255, 255, .05), rgba(0, 0, 0, .05)));
			border: 1px solid  blacken(whiten($beige, 25%), 25%, 3);
			@include border-radius(3px);
			height: 16px;
				line-height: 16px;
			margin-right: 10px;
			padding-right: 9px;
			padding-left: 9px;

			&.condition {
				@include float-right;
				margin-right: 0;

				&.new {
					//color: $custom_magenta;
					background-color: whiten($custom_cyan, 25%, 4);
				}

				&.old {
					//color: blacken($custom_cyan, 25%);
					background-color: whiten($custom_magenta, 25%, 4);
				}

			}

		}

	}

	div.g-tabs {

		div.tab-content {

			p {
				color: blacken($beige, 25%, 4);
			}

			div.images {
				@include clearfix;
				margin-right: -2px;

				a {
					@include float-left;
					width: 116px;
					height: 106px;
					margin-right: 2px;
					margin-bottom: 2px;

					img {
						background-position: center;
						background-repeat: no-repeat;
						display: block;
						width: 100%;
						height: 100%;
					}

					&:hover {
						border: 1px solid $custom_magenta;
						width: 114px;
						height: 104px;
					}

				}

			}

			
			//@media screen and (min-width: 1175px) {

			//	div.images {
			//		margin-right: -1px;

			//		a {
			//			width: 115px;
			//			height: 107px;
			//			margin-right: 1px;
			//			margin-bottom: 1px;

			//			&:hover {
			//				width: 113px;
			//				height: 105px;
			//			}

			//		}

			//	}

			//}
			

		}

	}

}

#item_view-sidebar-left {

	a.lightbox {
		border: 1px solid white;
		display: block;
		margin-bottom: 18px;
		overflow: hidden;

		img {
			background-color: blacken(whiten($beige, 25%), 25%);
			display: block;
			margin-right: auto;
			margin-left: auto;
		}

		&:hover {
			border-color: $custom_magenta;

			img {
				
			}

		}

	}

	img.no-image {
		background-color: blacken(whiten($beige, 25%), 25%);
		display: block;
		width: 190px;
		height: 117px;
		margin-bottom: 18px;
	}

	table.info-ad {
		margin-bottom: 0;

		caption {
			color: blacken(whiten($beige, 25%), 25%);
			@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
			text-transform: uppercase;
			background-color: transparent;
			padding: 0;
		}

		th, td {
			line-height: 18px;
			padding: 0;
		}

		th {
			color: whiten(blacken($beige, 25%), 25%, 3);
			white-space: nowrap;
			padding-right: 5px;
		}

		td {
			color: white;
			width: 100%;
			padding-left: 5px;
		}

	}

}

#item_view-sidebar-right {

	div.info-user {
		@include clearfix;
		border-bottom: 1px solid blacken($dark, 10%);
		@include box-shadow(rgba(255, 255, 255, .1) 0 1px);
		padding-bottom: 17px;

		h2 {
			color: blacken(whiten($beige, 25%), 25%);
			font-size: 1em;
			@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
			text-transform: uppercase;
			border-bottom: 1px solid blacken($dark, 10%);
			@include box-shadow(rgba(255, 255, 255, .1) 0 1px);
			margin-bottom: 18px;
			padding-bottom: 8px;
		}

		div {
			position: relative;
			@include min-height(36px);
			padding-left: 55px;

			a.image {
				border: 1px solid $custom_green;
				position: absolute;
					left: 0;
				width: 38px;
				height: 34px;

				img {
					background-color: blacken(whiten($beige, 25%), 25%);
					display: block;
					width: 100%;
					height: 100%;
				}

				&:hover {
					border-color: whiten($custom_green, 25%);
				}

			}

			strong {
				@include ellipsis;
				color: $custom_green;
				@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
				display: block;
				height: 36px;
					line-height: 36px;

				a {
					color: $custom_green;
					text-decoration: none;

					&:hover {
						color: whiten($custom_green, 25%);
						text-decoration: underline;
					}

				}

			}

			&.hasPhone strong {
				height: 18px;
					line-height: 18px;
			}

			span {
				color: white;
				display: block;
			}

		}

	}

	table.info-user {
		border-spacing: 1px;

		caption {
			color: white;
			@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
			background-color: transparent;
			padding: 0;
		}

		thead th {
			background-color: transparent;
			padding: 0;

			

		}

		tbody {

			tr {

				th, td {
					vertical-align: top;
					@include text-shadow(rgba(255, 255, 255, 1) 0 1px);
					background-color: whiten($whitesmoke, 25%, 2);
					line-height: 18px;
					padding: 9px 15px;
				}

				th {
					@include background-image(linear-gradient(rgba(255, 255, 255, .05), rgba(0, 0, 0, .05)));
				}

				td {
					width: 100%;

					&.price {
						color: blacken($custom_green, 25%, 2);
					}

					&.condition {
						
					}

					span.condition {

						&.new {
							color: blacken($custom_green, 25%, 2);
						}

						&.old {
							color: $custom_magenta;
						}

					}

				}

			}

		}

	}

	div.other {
		border-bottom: 1px solid blacken($dark, 10%);
		@include box-shadow(rgba(255, 255, 255, .1) 0 1px);
		padding-top: 27px;
		padding-bottom: 17px;

		h2 {
			color: blacken(whiten($beige, 25%), 25%);
			font-size: 1em;
			@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
			text-transform: uppercase;
			border-bottom: 1px solid blacken($dark, 10%);
			@include box-shadow(rgba(255, 255, 255, .1) 0 1px);
			margin-bottom: 18px;
			padding-bottom: 8px;
		}

		div.items {

			div.item {
				@include clearfix;
				position: relative;
				padding-top: 9px;
				padding-left: 55px;

				&:first-child {
					padding-top: 0;
				}

				a.image {
					border: 1px solid white;
					position: absolute;
						left: 0;
					width: 38px;
					height: 34px;

					img {
						display: block;
						width: 100%;
						height: 100%;
					}

				}

				strong {
					@include ellipsis;
					color: $light_orange;
					display: block;

					a {
						color: $light_orange;
						text-decoration: none;

						&:hover {
							color: whiten($light_orange, 25%);
							text-decoration: underline;
						}

					}

				}

				span.price {
					color: $custom_green;
					display: block;
				}

				p {
					@include ellipsis;
					color: white;
					margin-bottom: 0;
				}

				em {
					@include float-left;
					color: whiten(blacken($beige, 25%), 25%, 3);
					height: 18px;
						line-height: 18px;
				}

				span.condition {
					@include float-right;
					height: 18px;
						line-height: 18px;
					

					span {
						background-color: $whitesmoke;
						@include background-image(linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1)));
						@include border-radius(3px);
						padding-right: 3px;
						padding-left: 3px;
					}

					&.old span {
						color: $custom_magenta;
					}

					&.new span {
						color: blacken($custom_cyan, 25%);
					}

				}

			}

		}

	}//.other

}
*/
