#site_index {}

#site_index .heading2 {
	padding-top: 1px;
}

#site_index .heading2 > div {
	@include box-shadow(0 0 1px transparent);
	@include transform(skew(0, -$degree));
		-webkit-backface-visibility: hidden;
	overflow: hidden;
}

#site_index .heading2 .container {
	padding-top: ($line-height * 2) - 1px;
	padding-bottom: $line-height * 3;
	@include transform(skew(0, $degree));
}

#site_index .heading2 .bg {
	background-color: whiten($black, 20%);
	position: absolute;
		top: -$line-height;
		right: 0;
		bottom: -$line-height;
		left: 0;
}

#site_index .heading2 h2 {
	color: $white;
	font-family: proxima-nova-n1, $sans-serif;
	font-size: 4em;
	font-weight: 100;
	text-align: center;
	line-height: $line-height * 3;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
}

#site_index .heading2 h2 span {
	color: $olivedrab;
}

#site_index .heading3 {
	padding-top: 1px;
	display: none;
}

#site_index .heading3 > div {
	@include transform(skew(0, -$degree));
	overflow: hidden;
}

#site_index .heading3 .container {
	padding-top: $line-height - 1px;
	padding-bottom: $line-height;
	//@include transform(skew(0, $degree));
}

#site_index .heading3 .bg {
	background-color: whiten($black, 15%);
	position: absolute;
		top: -($line-height * 2.5);
		right: 0;
		bottom: -($line-height * 2.5);
		left: 0;
}

#site_index .heading3 h3 {
	color: $olivedrab;
	font-family: proxima-nova-n1, $sans-serif;
	font-size: 3em;
	font-weight: 100;
	text-align: center;
	line-height: $line-height * 2;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
}

#site_index .work {
	padding-top: 1px;
}

#site_index .work > div {
	@include box-shadow(0 0 1px transparent);
	@include transform(skew(0, -$degree));
		-webkit-backface-visibility: hidden;
	overflow: hidden;
}

#site_index .work .container {
	padding-top: $line-height - 1px;
	margin-top: -(($line-height * 3) - 1px);
	bottom: -$line-height;
	@include transform(skew(0, $degree));
}

#site_index .work .row div[class^="col-"] > div {
	margin-right: -$gutter-width;
	margin-left: -$gutter-width;
}

#site_index .work .row div[class^="col-"]:nth-child(even) > div {
	margin-right: -($gutter-width - 1px);
	margin-left: -($gutter-width - 1px);
}

#site_index .work .item {
	text-align: center;
	background-color: whiten($black, 20%);
	margin-bottom: 1px;
	overflow: hidden;
}

#site_index .work .item img {
	width: 100%;
}
