#site_index {

	.intro{
		text-align: center;
		padding-right: $gutter-width;

		&.alert-dismissable .close {
			right: 0;
		}

		h2{ 
			font-size: 1.75em;
			font-weight: 300;
			margin-top: 0;
			color: $color_wetAsphalt;
		}
		p {
			font-size: 1.2em;
			font-weight: 300;
			color: $color_headings;
		}

		.call-to-action {
			height: $line-height * 2.5;
				line-height: $line-height * 2.5;
			margin: $line-height * .5;
			
				.g-button--primary {
					font-size: $line-height;
					font-weight: 300;
					background-color: $color_wetAsphalt;
				}
		}
	}


	.h2 {
		font-size: 1.2em;
		line-height: $line-height;
		margin-top: $line-height;

		&:first-child {
			margin-top: 0;
		}

		h2 {
			font-size: inherit;
			display: inline;
		}

		.seeAll {
			font-size: .75em;
			color: $color_headings;
			font-family: $sans-serif;
			font-weight: 700;
/* 			background-color: $color_customYellow; */
			padding-right: $gutter-width * (1 / 3);
			padding-left: $gutter-width * (1 / 3);
			//border: 1px solid blacken($color_body-bg, 25%);
			@include border-radius($border-radius);
			float: right;
		}

	}

	.g-items {

		@media (max-width: $screen-xs-max) {
			&.grid {

				.list-view {

					.items {
						@include border-radius(0);
						display: block;

						.view-row {
							border-top: none;
							margin-right: -($gutter-width * (1 / 3));
							margin-left: -($gutter-width * (1 / 3));

							.view-container {
								display: block;
								float: left;

								&.clear-left {
									clear: left;
								}

							}

							.view {
								padding-top: 0;
								padding-right: $gutter-width * (1 / 6);
								padding-left: $gutter-width * (1 / 6);
								display: block;

								> * {
									padding-top: $line-height * .5;
									border-top: none;
									display: none !important;
								}

								.img {
									border-right: none;
									display: block !important;
									padding: $gutter-width * (1 / 6);

									img {
										width: 100%;
										height: auto;
									}

								}

							}

						}

					}

				}

			}
		}

	}

	#search {
		margin-top: $line-height;

		.table {
			background-color: transparent;

			.tr {
				display: table-row;

				.td {
					display: table-cell;
					vertical-align: top;

					&.left {
						padding-left: 0;
					}

					&.right {
						padding-right: 0;
					}

				}

			}

		}

	}

}
