.Table-container {
	@include user-select(none);
	background-color: $color_body_bg;
	height: $line-height * 5;
	position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;

	:not([type=text]) {
		@include user-select(none);
	}

}

.no-js .Table-container {
	height: auto;
	padding-bottom: ($line-height * 1.5) - ($gutter-width * (1 / 3));
	position: static;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.Table-container {
		height: $line-height * 7;
	}
}

@media (max-width: $screen-xs-max) {
	.Table-container {
		height: auto;
		position: static;

		.container {
			padding-right: 0;
			padding-left: 0;
		}

	}
}

.Table {
	width: 100%;
	margin-top: $line-height;
	display: table;

	/*
	.tr {

		&.filters {

			.filters-left,
			.filters-right {

				> div {

					> div {
						background-color: $color_white;
						@include box-shadow(0 0 #{$gutter-width * (1 / 3)} rgba($color_black, .25));
					}

				}

			}

			.filters-left {
				padding-left: $gutter-width * (1 / 3);
				vertical-align: bottom;
				overflow: hidden;

				> div {
					position: relative;

					> div {
						height: $line-height * 60; //
						@include border-bottom-left-radius(3px);
						position: absolute;
							right: -#{$gutter-width * (1 / 3)};
							bottom: $gutter-width * (1 / 3);
							left: 0;
					}

				}

			}

			.filters-right {
				padding-top: 1px;

				> div {
					padding-top: $gutter-width * (1 / 3);
					padding-right: $gutter-width * (1 / 3);
					padding-bottom: $gutter-width * (1 / 3);
					margin-top: -#{$gutter-width * (1 / 3)};
					margin-right: -#{$gutter-width * (1 / 3)};
					overflow: hidden;

					> div {
						max-height: $line-height * 60; //
						padding-top: $line-height - 1px;
						padding-bottom: $line-height * 1.5;
						padding-right: $gutter-width * (2 / 3);
						padding-left: ($gutter-width * (2 / 3)) + ($gutter-width * (1 / 3));
						margin-left: -#{$gutter-width * (1 / 3)};
						@include border-right-radius($border-radius);
						@include transition(
							padding-top .25s cubic-bezier(0, 1.25, 1, 1.25),
							padding-bottom .25s cubic-bezier(0, 1.25, 1, 1.25)
						);
					}

				}

			}

			&.is-hidden {
				visibility: hidden;
				@include transition(visibility 0s linear .5s);

				.filters-left {

					> div {

						> div {
							bottom: 0;
							@include transition(bottom 0s linear .5s);
						}

					}

				}

				.filters-right {
					padding-top: 0;
					@include transition(padding-top 0s linear .5s);

					> div {
						padding-bottom: 0;
						@include transition(padding-bottom 0s linear .5s);

						> div {
							max-height: 0;
							padding-top: 0;
							padding-bottom: 0;
							@include transition(
								max-height 0s linear .5s,
								padding-top .5s cubic-bezier(0, -.25, 1, -.25),
								padding-bottom .5s cubic-bezier(0, -.25, 1, -.25)
							);
						}

					}

				}

			}

		}

	}
	*/

}

	.Table__tr {
		display: table-row;
	}

	.Table__td {
		display: table-cell;
		vertical-align: top;
	}

	.Table__a {
		color: $color_white;
		white-space: nowrap;
		background-color: $color_header_bg;
		height: $line-height * 3;
			line-height: $line-height * 3;
		padding-right: $gutter-width * (2 / 3);
		padding-left: $gutter-width * (2 / 3);
		display: block;

		&:hover, &:focus, &:visited, &:visited:hover {
			color: $color_white;
		}

		&:hover, &:focus {
			text-decoration: none;
		}

		&:hover {
			background-color: blacken($color_header_bg, 25%);
		}

	}

/*
.no-js .Table .tr.filters.is-hidden {
	visibility: visible;

	.filters-left > div > div {
		bottom: $gutter-width * (1 / 3);
	}

	.filters-right {
		padding-top: 1px;

		> div {
			padding-bottom: $gutter-width * (1 / 3);

			> div {
				max-height: $line-height * 60; //
				padding-top: $line-height - 1px;
				padding-bottom: $line-height * 1.5;
			}

		}

	}

}
*/

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.Table {
		margin-top: $line-height * 3;
	}
}

@media (max-width: $screen-xs-max) {
	.Table {
		background-color: $color;
		margin-top: 0;
		display: block;

		/*
		> .tr {

			&.filters {

				> .td {
					display: none;
				}

				.filters-right {
					padding-top: 0;
					display: block;

					> div {
						padding-top: 0;
						padding-right: 0;
						padding-bottom: 0;
						margin-top: 0;
						margin-right: 0;

						> div {
							padding-right: $gutter-width;
							padding-left: $gutter-width;
							@include border-right-radius(0);
							margin-left: 0;
						}

					}

				}

			}

		}
		*/

	}

	.Table__tr {
		@include clearfix;
		display: block;
	}

	.Table__td {
		display: block;
	}
}

@media (max-width: $screen-xs-max) {
	.XS {
		position: relative;
			left: 0;
			z-index: 1;
	}

	body.is-menuActive .XS {
		width: 100%;
		position: absolute;
			left: 75%;
	}

	body.is-animating .XS {
		@include transition(left .125s ease);
	}
}

.XS-menu-toggle {
	@extend .visible-xs;
	cursor: pointer;
	background-color: $color_emerald;
	padding: $line-height $gutter-width;
	float: left;
}

	.XS-menu-toggle__icon {
		color: $color_white;
		font-size: 1.5em;
		line-height: $line-height;
		display: block;
	}

.XS-menu {
	background-color: $color_nephritis;
	display: none;
	position: fixed;
		top: 0;
		right: 25%;
		bottom: 0;
		left: 0;
		z-index: -1;
	overflow: auto;
		-webkit-overflow-scrolling: touch;

	&.XS-menu--is-active {
		@extend .visible-xs;
	}

}

	.XS-menu__ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}

	.XS-menu__li {
		border-top: 1px solid $color_emerald;
	}

		.XS-menu__ul:first-child .XS-menu__li:first-child {
			border-top: none;
		}

	.XS-menu__a {
		color: $color_white;
		padding: #{$line-height - 1px} $gutter-width $line-height;
		display: block;

		&:hover, &:focus, &:visited, &:visited:hover {
			color: $color_white;
		}

		&:hover, &:focus {
			text-decoration: none;
		}

	}

		.XS-menu__ul:first-child .XS-menu__li:first-child .XS-menu__a {
			padding-top: $line-height;
		}

		.XS-menu__a-icon {
			text-align: center;
			width: $gutter-width;
		}

		.XS-menu__a-text {
			margin-left: $gutter-width * (2 / 3);
		}

.XS-menu-footer {
	@extend .visible-xs;
	background-color: $color_footer-bg;
	position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
}

body.is-menuActive .XS-menu-footer {
	left: 75%;
}

body.is-animating .XS-menu-footer {
	@include transition(left .125s ease);
}

.XS-menu-x {
	cursor: pointer;
	background-color: $color_black;
	display: none;
	position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	@include opacity(0);
}

@media (max-width: $screen-xs-max) {
	body.is-menuActive .XS-menu-x {
		display: block;
		left: 75%;
	}
}

.Header {}

	.Header__h1 {
		font-size: 1em;
		margin-top: 0;
		margin-bottom: 0;
	}

	.Header__a {
		color: $color_white;
		font-size: 1.25em;
		font-weight: 700;
		white-space: nowrap;
		background-color: $color;
		height: $line-height * 3;
			line-height: $line-height * 3;
		padding-right: $gutter-width;
		padding-left: $gutter-width;
		@include border-radius($border-radius);
		display: block;

		&:hover, &:focus, &:visited, &:visited:hover {
			color: $color_white;
		}

		&:hover, &:focus {
			text-decoration: none;
		}

	}

		.Header__a__tld {
			color: $color_emerald;
		}

	.Header__version {
		@extend .hidden-xs;
		color: $color_emerald;
		font-size: .75em;
		padding-right: $gutter-width * (1 / 3);
		margin-top: -$line-height;
		float: right;
	}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.Header {
		position: absolute;
			top: 0;
	}

	.Header__h1 {
		float: left;
	}

	.Header__a {
		height: $line-height * 2;
			line-height: $line-height * 2;
		@include border-top-radius(0);
		float: left;
	}

	.Header__version {
		color: $color_nephritis;
		height: $line-height * 2;
			line-height: $line-height * 2;
		padding-right: 0;
		padding-left: $gutter-width * .5;
		margin-top: 0;
		float: left;
	}
}

@media (max-width: $screen-xs-max) {
	.Header {
		float: left;
	}

	.Header__a {
		background-color: transparent;
		width: 0;
		padding-right: 0;
		padding-left: $gutter-width * (2 / 3);
		@include border-radius(0);
	}
}

#filters {

	> a,
	div.a > a,
	span.a {
		color: $color_white;
		white-space: nowrap;
		background-color: $color_header_bg;
		height: $line-height * 3;
			line-height: $line-height * 3;
		padding-right: $gutter-width * (2 / 3);
		padding-left: $gutter-width * (2 / 3);
		display: block;

		&:hover {
			text-decoration: none;
			background-color: blacken($color_header_bg, 25%);
		}

		&:focus {
			text-decoration: none;
		}

	}

}

.Register,
.User {
	padding-left: $gutter-width * (1 / 3);

	.Table__a {
		@include border-left-radius($border-radius);
	}

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.Register,
	.User {
		padding-left: 0;
	}
}

.Register {
	@extend .hidden-xs;

	.Table__a-icon {
		@extend .hidden-sm;
	}

}

.User {}

	.User__div {
		position: relative;
	}

	.User__a-img {
		@include box-sizing(content-box);
		width: ($gutter-width * 2) + ($gutter-width * (2 / 3)) - 2px;
		height: ($line-height * 2) - 2px;
		border: 1px solid $color_nephritis;
		margin-right: $gutter-width * (1 / 3);
		display: inline-block;
	}

		.User__a:hover .User__a-img {
			border-color: $color_emerald;
		}

	.Table__a-text {
		@extend .hidden-xs;
	}

	.User__a-caret {
		margin-left: $gutter-width * (1 / 3);
	}

	.User__ul {
		margin-top: 0;
		left: -1px;
	}

		.User:hover .User__ul {
			display: block;
		}

	.User__li--username {
		@extend .visible-xs;
		color: $color_nephritis;
		font-weight: 600;
		text-align: center;
	}

@media (max-width: $screen-xs-max) {
	.User {
		background-color: $color;
		padding-right: $gutter-width * (2 / 3);
		padding-left: $gutter-width * (2 / 3);
		position: relative;
		float: right;

		&:before {
			content: '';
			@include background-image(linear-gradient(left, rgba($color, 0), rgba($color, 1)));
			width: $gutter-width * (2 / 3);
			position: absolute;
				top: 0;
				bottom: 0;
				left: -($gutter-width * (2 / 3));
		}

	}

	.User__div {
		padding-top: $line-height * .5;
		padding-bottom: $line-height * .5;
	}

	.Table__a {
		background-color: $color_emerald;
		height: $line-height * 2;
			line-height: $line-height * 2;
		padding: 0 #{$gutter-width * (1 / 3)} 0 0;
		@include border-radius($border-radius);

		&:hover {
			background-color: $color_emerald;
		}

	}

	.Table__a-icon {
		font-size: 1.25em;
		padding-left: $gutter-width * (2 / 3);
		vertical-align: middle;
	}

	.User__a-img {
		border-color: $color_emerald;
		@include border-left-radius($border-radius);
		margin-right: 0;
		vertical-align: top;
	}

	.User__ul {
		top: $line-height * 2.5;
		right: -1px;
		left: auto;
	}
}

.Login,
.Logout {
	padding-left: 1px;

	.Table__a {
		@include border-right-radius(3px);
	}

}

.Login {

	.Table__a-icon {
		@extend .hidden-sm;
	}

	.Table__a-text {
		@extend .hidden-xs;
	}

}

@media (max-width: $screen-xs-max) {
	.Login {
		float: right;

		.Table__a {
			background-color: transparent;
			padding: $line-height $gutter-width;
			@include border-right-radius(0);
			float: right;
		}

		.Table__a-icon {
			font-size: 1.5em;
			line-height: $line-height;
			display: block;
		}

	}
}

.Logout {
	@extend .hidden-xs;

	.Table__a-text {
		@extend .hidden-sm;
	}

}

/*
#filters {
	padding-left: $gutter-width * (1 / 3);
	position: relative;

	.a-container {
		padding-top: $gutter-width * (1 / 3);
		padding-right: $gutter-width * (1 / 3);
		padding-left: $gutter-width * (1 / 3);
		margin-top: -#{$gutter-width * (1 / 3)};
		margin-right: -#{$gutter-width * (1 / 3)};
		margin-left: -#{$gutter-width * (1 / 3)};
		display: block;
		overflow: hidden;
	}

	.a {
		cursor: pointer;
		@include border-left-radius(3px);

		.fa-filter {
			@extend .hidden-sm;
		}

		span {
			@extend .hidden-xs;
		}

		.fa-angle-down,
		.fa-angle-up {
			margin-left: $gutter-width * (1 / 3);
		}

		.fa-angle-up {
			display: none;
		}

		&.is-active {
			color: blacken($color, 25%);
			background-color: $color_white;
			height: ($line-height * 3) + ($gutter-width * (1 / 3));
			@include border-bottom-left-radius(0);
			@include box-shadow(0 0 #{$gutter-width * (1 / 3)} rgba($color_black, .25));
			margin-bottom: -#{$gutter-width * (1 / 3)};
			@include transition(none);

			.fa-angle-down {
				display: none;
			}

			.fa-angle-up {
				display: inline-block;
			}

		}

		&.is-inactive {
			@include transition(all .25s ease .5s);
		}

	}

}

.no-js #filters .a {
	cursor: default;
	color: blacken($color, 25%);
	background-color: $color_white;
	height: ($line-height * 3) + ($gutter-width * (1 / 3));
	@include border-bottom-left-radius(0);
	@include box-shadow(0 0 #{$gutter-width * (1 / 3)} rgba($color_black, .25));
	margin-bottom: -#{$gutter-width * (1 / 3)};

	.fa-angle-down {
		display: none;
	}

}

@media (max-width: $screen-xs-max) {
	#filters {
		text-align: center;
		width: 15%;
		padding-left: 0;
		clear: left;
		float: left;

		.a {
			@include border-left-radius(0);
		}

	}
}
*/

.Search-toggle {
	@extend .visible-xs;
	cursor: pointer;
	background-color: $color;
	padding: $line-height $gutter-width;
	float: right;
	@include transition(background-color 0s ease .25s);

	&.Search-toggle--is-active {
		background-color: $color_header_bg;
		@include transition(none);
	}

}

	.Search-toggle__icon {
		color: $color_white;
		font-size: 1.5em;
		line-height: $line-height;
		display: block;
	}

#search {
	width: 100%;
	padding-left: 1px;
	padding-left: $gutter-width * (1 / 3); //

	.table {
		background-color: $color_header_bg;
		@include border-right-radius($border-radius);
		@include border-left-radius($border-radius); //
		margin-bottom: 0;
		display: table;

		.tr {
			display: table-row;
		}

		.td {
			padding-top: $line-height * (2 / 3);
			padding-bottom: $line-height * (2 / 3);
			display: table-cell;
			vertical-align: top;

			&.left {
				width: 100%;
				padding-left: $gutter-width * (2 / 3);
			}

			&.right {
				padding-right: $gutter-width * (2 / 3);
				padding-left: $gutter-width * (1 / 3);
			}

			.input-text {
				margin-top: 0;
				margin-bottom: 0;
			}

			.g-button,
			input[type=submit] {
				color: $color;
				background-color: $color_body_bg;

				&:hover {
					background-color: whiten($color_body_bg, 25%);
				}

			}

			.g-button {
				white-space: nowrap;
				display: block;
				height: 30px;
					line-height: 30px;
				padding-top: 0;
				padding-bottom: 0;

				i {
					@extend .hidden-xs;
				}

				span {
					@extend .hidden-sm;
				}

			}

		}

	}

}

@media (max-width: $screen-xs-max) {
	#search {
		max-height: 0;
		padding-left: 0;
		clear: both;
		position: relative;
			z-index: -1;
		@include transition(
			max-height .25s cubic-bezier(0, -.25, 1, -.25),
			z-index 0s ease .25s
		);

		.table {
			//width: 85%;
			@include border-right-radius(0);
			@include border-left-radius(0); //
			clear: both; //
			//float: right;

			.td {
				padding-top: 0;
				padding-bottom: 0;
				@include transition(all .25s cubic-bezier(0, -.25, 1, -.25));

				&.left {
					padding-left: $gutter-width;
				}

				&.right {
					padding-right: $gutter-width;
				}

			}

		}

		&.is-active {
			max-height: $line-height * 3;
			z-index: 1;
			@include transition(max-height .25s cubic-bezier(0, 1.25, 1, 1.25));

			.table {

				.td {
					padding-top: $line-height * (2 / 3);
					padding-bottom: $line-height * (2 / 3);
					@include transition(all .25s cubic-bezier(0, 1.25, 1, 1.25));
				}

			}

		}

	}
}

.Post {
	@extend .hidden-xs;
	padding-left: $gutter-width * (1 / 3);
}

	.Post__a {
		color: $color_white;
		text-align: center;
		background-color: $color_emerald;
		@include box-sizing(content-box);
		height: $line-height * 2;
			line-height: $line-height;
		padding-top: $line-height * .5;
		padding-bottom: $line-height * .5;
		@include border-radius(3px);

		&:hover {
			color: $color_white;
			background-color: blacken($color_emerald, 25%);
		}

	}
