/* colors */

@function blacken($color, $percent, $i: 1) {
	@while $i > 0 {
		$color: mix(#000, $color, $percent);
		$i: $i - 1;
	}
	@return $color;
}

@function whiten($color, $percent, $i: 1) {
	@while $i > 0 {
		$color: mix(#fff, $color, $percent);
		$i: $i - 1;
	}
	@return $color;
}

$black: #000; // deprecated
$white: #fff; // deprecated

$color_black: #000;
$color_white: #fff;

$beige     : #f5f5dc; // deprecated
$whitesmoke: #f5f5f5; // deprecated

$custom_cyan   : rgb(0, 153, 204); // deprecated
$custom_green  : rgb(172, 229, 0); // deprecated
$custom_magenta: rgb(217, 0, 126); // deprecated
$custom_orange : rgb(255, 102, 0); // deprecated

// flatuicolors.com
$color_alizarin    : #e74c3c;
$color_amethyst    : #9b59b6;
$color_asbestos    : #7f8c8d;
$color_belizeHole  : #2980b9;
$color_carrot      : #e67e22;
$color_clouds      : #ecf0f1;
$color_concrete    : #95a5a6;
$color_emerald     : #2ecc71;
$color_greenSea    : #16a085;
$color_midnightBlue: #2c3e50;
$color_nephritis   : #27ae60;
$color_orange      : #f39c12;
$color_peterRiver  : #3498db;
$color_pomegranate : #c0392b;
$color_pumpkin     : #d35400;
$color_silver      : #bdc3c7;
$color_sunFlower   : #f1c40f;
	$color_sunFlower-white: whiten($color_sunFlower, 25%, 8);
$color_turquoise   : #1abc9c;
$color_wetAsphalt  : #34495e;
$color_wisteria    : #8e44ad;

$color_customBrown : #9c5720;
$color_customYellow: #feed6f;
$color_customCharcoal: #333333;
$color_customGray: #f5f5f5;

$dark : blacken(whiten($beige, 25%), 25%, 3); // deprecated
$light: whiten(blacken($beige, 25%), 25%, 4); // deprecated

$dark_cyan    : blacken($custom_cyan, 25%); // deprecated
$dark_green   : blacken($custom_green, 25%, 2); // deprecated
$dark_magenta : $custom_magenta; // deprecated
$dark_orange  : blacken($custom_orange, 25%); // deprecated
$light_cyan   : $custom_cyan; // deprecated
$light_green  : $custom_green; // deprecated
$light_magenta: $custom_magenta; // deprecated
$light_orange : whiten($custom_orange, 25%, 3); // deprecated

$color          : blacken($color_clouds, 25%, 2);
$color_anchor   : $color_greenSea;
	$color_anchor-hover: $color_belizeHole;
	$color_anchor-visited: $color_wetAsphalt;
		$color_anchor-visited-hover: $color_wisteria;
$color_header_bg: blacken($color_clouds, 5%);
/* $color_body_bg  : blacken($color_clouds, 5%); */
$color_body_bg  : $color_customGray;
$color_footer_bg: $color_greenSea;
$color_green : $color_greenSea;
$color_headings : $color_customCharcoal;
$color_body_copy : #454545;
$color_btn_secondary : #757575;

/* fonts */

// 100, 100italic, 300, 300italic, 400, 400italic, 700, 700italic, 900, 900italic
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

$sans-serif: proxima-nova, Lato, sans-serif;
$sans-serif-soft: proxima-nova-soft, $sans-serif;

/**/

$border-radius: 1px;
$gutter-width: $grid-gutter-width * .5;
$line-height: 18px;
