/* colors */

$black: #000;
$white: #fff;

$color_black: #000;
$color_white: #fff;

$beige     : #f5f5dc;
$whitesmoke: #f5f5f5;

$custom_cyan   : rgb(0, 153, 204);
$custom_green  : rgb(172, 229, 0);
$custom_magenta: rgb(217, 0, 126);
$custom_orange : rgb(255, 102, 0);

// flatuicolors.com
$color_alizarin    : #e74c3c;
$color_amethyst    : #9b59b6;
$color_asbestos    : #7f8c8d;
$color_belizeHole  : #2980b9;
$color_carrot      : #e67e22;
$color_clouds      : #ecf0f1;
$color_concrete    : #95a5a6;
$color_emerald     : #2ecc71;
$color_greenSea    : #16a085;
$color_midnightBlue: #2c3e50;
$color_nephritis   : #27ae60;
$color_orange      : #f39c12;
$color_peterRiver  : #3498db;
$color_pomegranate : #c0392b;
$color_pumpkin     : #d35400;
$color_silver      : #bdc3c7;
$color_sunFlower   : #f1c40f;
$color_turquoise   : #1abc9c;
$color_wetAsphalt  : #34495e;
$color_wisteria    : #8e44ad;

	@function blacken($color, $percent, $i: 1) {
		@while $i > 0 {
			$color: mix(#000, $color, $percent);
			$i: $i - 1;
		}
		@return $color;
	}

	@function whiten($color, $percent, $i: 1) {
		@while $i > 0 {
			$color: mix(#fff, $color, $percent);
			$i: $i - 1;
		}
		@return $color;
	}

$dark : blacken(whiten($beige, 25%), 25%, 3);
$light: whiten(blacken($beige, 25%), 25%, 4);

$dark_cyan    : blacken($custom_cyan, 25%);
$dark_green   : blacken($custom_green, 25%, 2);
$dark_magenta : $custom_magenta;
$dark_orange  : blacken($custom_orange, 25%);
$light_cyan   : $custom_cyan;
$light_green  : $custom_green;
$light_magenta: $custom_magenta;
$light_orange : whiten($custom_orange, 25%, 3);

$color          : $color_asbestos;
$color_anchor   : $color_peterRiver;
	$color_anchor-hover: $color_belizeHole;
	$color_anchor-visited: $color_amethyst;
		$color_anchor-visited-hover: $color_wisteria;
$color_body_bg  : blacken($color_clouds, 10%);
$color_footer_bg: $color_asbestos;

/* fonts */

// 100, 100italic, 300, 300italic, 400, 400italic, 700, 700italic, 900, 900italic
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

$sans-serif: proxima-nova, Lato, sans-serif;

/**/

$border-radius: 3px;
$gutter-width: $grid-gutter-width * .5;
$line-height: 18px;
