@import 'normalize', 'main';
@import 'vendor/bootstrap', 'vendor/font-awesome/font-awesome', 'vendor/jquery.lightbox-0.5';
@import 'compass', 'bourbon';
@import 'variables', 'global', 'form';

body {
	cursor: default;
	color: $color;
	font-family: $sans-serif;
	background-color: $color_footer_bg;
	line-height: $line-height;
	padding-top: $line-height * 5;
}

.no-js body {
	padding-top: 0;
}

@media (max-width: $screen-xs-max) {
	body {
		padding-top: 0;
	}
}

#body {
	background-color: $color_body_bg;
}

/*
@media (max-width: $screen-xs-max) {
	#body {
		padding-top: 0;
	}
}
*/

@import 'table';

//

#page {
	@extend .container;
	//padding-top: $line-height * 3.5;
	//position: relative;
}

.no-js #page {
	padding-top: 0;
}

@media (max-width: $screen-xs-max) {
	#page {
		padding-top: 0;
	}
}

#alert {
	text-align: center;
	//@include box-shadow(0 0 1px rgba($black, .5));
	margin-bottom: 0;
}

#column1,
#column2,
#column3,
#transition {
	padding-top: $line-height;
	padding-bottom: $line-height * 3;
}

.breadcrumbs {
	color: $white;
	position: absolute;
		z-index: 1;

	a {
		color: whiten($custom_magenta, 25%, 5);
		@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);

		&:hover {
			color: whiten($custom_magenta, 25%, 6);
		}

	}

}

#column3 h2 {
	color: $white;
	@include text-shadow(rgba(0, 0, 0, .25) 0 -1px);
	padding-top: $line-height * 1.5;
	margin-top: 0;
}

#footer {
	@extend .container;
	padding-top: $line-height * 2;
	padding-bottom: $line-height * 2;
}

@media (max-width: $screen-xs-max) {
	#footer {
		padding-top: 0;
		padding-bottom: 0;
	}
}

#copyright {
	color: $dark;
	float: right;
}

@import 'site_', 'item_';
