@import 'normalize', 'main';
@import 'vendor/bootstrap',
				'vendor/font-awesome/font-awesome',
				'vendor/jquery.hes.slider',
				'vendor/jquery.lightbox-0.5';
@import 'compass', 'vendor/bourbon/bourbon';
@import 'variables', 'global', 'form';

#wrapper {
	max-width: $app-max-width;
	margin: 0 auto;
}

body {
	cursor: default;
	color: $color;
	background: #e4e4e4;
	font-family: $sans-serif;
	line-height: $line-height;
	padding-top: 0;
}

.no-js body {
	padding-top: 0;
}

body {
	padding-top: 0;

	&.is-menuActive {
		position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
	}

}

#body {
	background-color: $color_body_bg;
}

@import 'table';

#alert {
	text-align: center;
	margin-bottom: 0;
}

#column1,
#column2,
#column3,
#transition {
	padding-top: $line-height;
	padding-bottom: $line-height * 3;
}

.breadcrumbs {
	margin-bottom: $line-height;

	a {
		color: $color_customBrown;

		&:hover {
			color: blacken($color_customBrown, 25%);
			text-decoration: none;
		}

	}

}

#footer {
	padding-top: $line-height * 2;
	padding-bottom: $line-height * 2;
}

#footer {
	//padding-top: $line-height * .5;
	padding-top: 0;
	padding-bottom: $line-height * .5;
}

#utility {

	ul {
		padding-left: 0;
		@include clearfix;
	}

	li {
		//text-align: center;
		//width: 25%;
		//float: left;
	}

	a {
		color: $color_greenSea;
		font-size: 1.25em;
		background-color: whiten($color_turquoise, 25%, 2);
		//padding: #{$line-height * (1 / 6)} #{$gutter-width * (1 / 3)};
		padding: #{$line-height * .5} $gutter-width;
		//@include border-radius($border-radius);
		margin-right: -$gutter-width;
		margin-left: -$gutter-width;
		//display: inline-block;
		display: block;

		&:hover {
			text-decoration: none;
		}

	}

}

#copyright {
	color: $color_body_bg;
	float: right;
}

#not-mobile {
	//@extend .hidden-xs;
	text-align: center;
	background-color: rgba($color_black, .7);
	width: 100%;
	height: 100%;
	//display: table;
	display: none;
	position: fixed;
		top: 0;
		left: 0;
		z-index: 1050;

		> div {
			display: table-cell;
			vertical-align: middle;
		}

	img {
		height: $line-height * 4;
	}

	h2 {
		color: $color_customYellow;
	}

	p {
		color: $color_customYellow;
		font-size: 1.75em;
		line-height: 1;
	}

}

@media (min-width: 992px) {
	.container, #page, #footer {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container, #page, #footer {
		width: 100%;
	}
}

#alert {

	.modal-content {
		background-color: $color_customYellow;
	}

	.modal-body {
		color: $color_customBrown;
	}

	.modal-footer {
		text-align: center;
		border-top-color: $color_customBrown;
	}

}




@import 'site_', 'item_';
