@import 'normalize', 'main';
@import 'vendor/bootstrap',
				'vendor/font-awesome/font-awesome',
				'vendor/jquery.hes.slider',
				'vendor/jquery.lightbox-0.5';
@import 'compass', 'vendor/bourbon/bourbon';
@import 'variables', 'global', 'form';

body {
	cursor: default;
	color: $color;
	font-family: $sans-serif;
	background-color: $color_footer_bg;
	line-height: $line-height;
	padding-top: $line-height * 5;
}

.no-js body {
	padding-top: 0;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	body {
		padding-top: $line-height * 7;
	}
}

@media (max-width: $screen-xs-max) {
	body {
		padding-top: 0;

		&.is-menuActive {
			position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
		}

	}
}

.Body {
	background-color: $color_body_bg;
}

@import 'table';

.Page {
	@extend .container;
}

.Flash {
	text-align: center;
	margin-bottom: 0;
}

	.Flash--timeout {
		@extend .Flash;
	}

.Column1,
.Column2,
.Column3,
.Transition {
	padding-top: $line-height;
	padding-bottom: $line-height * 3;
}

.breadcrumbs {
	margin-bottom: $line-height;

	a {
		color: $color_carrot;

		&:hover {
			color: blacken($color_carrot, 25%);
			text-decoration: none;
		}

	}

}

	.breadcrumbs__separator {
		margin-right: $gutter-width * (2 / 3);
		margin-left: $gutter-width * (2 / 3);
	}

.Footer {
	@extend .container;
	padding-top: $line-height * 2;
	padding-bottom: $line-height * 2;
}

	.Footer__copyright {
		color: $color_body_bg;
		float: right;
	}

@media (max-width: $screen-xs-max) {
	.Footer {
		padding-top: $line-height * .5;
		padding-bottom: $line-height * .5;
	}
}

.Alert {

	.modal-footer {
		text-align: center;
	}

}

@import 'site_', 'item_';
