.form

	:php
		$form=$this->beginWidget('CActiveForm', array(
			'id'=>'item-form',
			'enableAjaxValidation'=>true,
			'htmlOptions'=>array('enctype'=>'multipart/form-data'),
			'focus'=>array($model,'title'),
		));

	//=$form->errorSummary($model)

	%table.form(summary="Post a New Item")
		%caption.hide Item

		%tfoot

			%tr
				%th =$form->hiddenField($model,'user_id',array('value'=>strlen($model->user_id) == 0 ? Yii::app()->user->getId() : $model->user_id))
				%td
					=!$model->isNewRecord ? CHtml::link('Cancel', array('view', 'id'=>$model->id), array('class'=>'g-button')).' ' : ''
					=CHtml::linkButton($model->isNewRecord ? 'Post' : 'Save', array('class'=>'g-button orange'))
					=CHtml::submitButton($model->isNewRecord ? 'Post' : 'Save', array('class'=>'g-button orange'))

		%tbody

			%tr
				%th =$form->labelEx($model,'title')
				%td
					.input-text
						=$form->textField($model,'title',array('size'=>60,'maxlength'=>64))
						%span.placeholder What are you selling?
					=$form->error($model,'title')

			%tr
				%th =$form->labelEx($model,'price')
				%td
					.price.input-text
						%span.prepend
							PHP
						=$form->textField($model,'price')
						%span.placeholder How much does it cost?
					= $form->error($model,'price')

			%tr
				%th =$form->labelEx($model,'category')
				%td
					:php

						// get the categories
						$categories = Yii::app()->db->createCommand()
							->select('*')
							->from('item_category')
							->order('title')
							->queryAll();

						// store the categories in a real array
						$listData = array();
						foreach($categories as $category)
							$listData[] = array('id'=>$category['id'], 'title'=>CHtml::encode($category['title']), 'parent_id'=>$category['parent_id']);

						// indent descendant categories
						$level_max = 0;
						foreach($listData as $i=>$data) {
							$level = 0;
							$parent_id = $data['parent_id'];
							while($parent_id) {
								$parent = Yii::app()->db->createCommand()
									->select('*')
									->from('item_category')
									->where('id=:parent_id', array(':parent_id'=>$parent_id))
									->queryRow();
								if($parent)
									$parent_id = $parent['parent_id'];
								else
									$parent_id = false;
								$level++;
								if($level > $level_max)
									$level_max++;
							}
							$listData[$i]['level'] = $level;
							$indentation = '';
							for($j = 0; $j < $level; $j++)
								$indentation .= '&#160; &#160;';
							$listData[$i]['title'] = $indentation.$data['title'];
						}

						// sort the categories by their ancestors
						$listData_sorted = array();
						for($i = 0; $i <= $level_max; $i++) {
							foreach(array_reverse($listData) as $data) {
								if($data['level'] == $i) {
									if($i == 0)
										array_unshift($listData_sorted, $data);
									else {
										$popped = array();
										$j = sizeOf($listData_sorted) - 1;
										while($listData_sorted[$j]['id'] != $data['parent_id']) {
											$popped[] = array_pop($listData_sorted);
											$j--;
										}
										$listData_sorted[] = $data;
										for($k = sizeOf($popped) - 1; $k >= 0; $k--) {
											$listData_sorted[] = $popped[$k];
										}
									}
								}
							}
						}

						echo CHtml::activeDropDownList($model, 'category_id', CHtml::listData($listData_sorted, 'id', 'title'), array('encode'=>false, 'empty'=>'select a category'));

			%tr
				%th Condition
				%td
					%fieldset
						%legend Condition	
						:php
							echo $form->radioButtonList($model,'condition_id',array(''=>'N/A','0'=>'Brand New','1'=>'Used'),array('separator'=>' &#160; '));
							echo $form->error($model,'condition_id');

			%tr
				%th =$form->labelEx($model,'description')
				%td
					.textarea
						=$form->textArea($model,'description',array('rows'=>6, 'cols'=>50))
						%span.placeholder Describe what you are selling.<br/>Longer descriptions sell more.
					=$form->error($model,'description');

			%tr
				%th =$form->labelEx($model,'images')
				%td
					:php
						$uploads = unserialize(base64_decode($model->uploads));
						if(!$model->isNewRecord && !$uploads) {
							$images = Yii::app()->db->createCommand()
								->select('id')
								->from('item_image')
								->where('item_id=:item_id', array(':item_id'=>$model->id))
								->order('index')
								->queryAll();
							foreach($images as $image)
								$uploads[] = array('name'=>$image['id'], 'tempName'=>'', 'new'=>false);
						}
						if(strlen(strip_tags($form->error($model, 'images'))) == 0) {
							$images = CUploadedFile::getInstances($model, 'images');
							foreach($images as $image) {
								$name = md5($image->name.time()).'.'.strtolower($image->extensionName);
								$image->saveAs(Yii::getPathOfAlias('webroot').'/images/uploads/temp/'.$name);
								$uploads[] = array('name'=>$image->name, 'tempName'=>$name, 'new'=>true);
							}
						}
						if($uploads) :
					.images
						:php
							foreach($uploads as $upload) {
								if($upload['new'])
									echo '<div class="image new" title="'.CHtml::encode($upload['name']).'" style="background-image: url(/images/slir/w40-h36-c40:36-baeaeaa/images/uploads/temp/'.CHtml::encode($upload['tempName']).')"><a title="remove '.CHtml::encode($upload['name']).'" href="#"><span></span></a></div>';
								else {
									$image = Yii::app()->db->createCommand()
										->select('id, type')
										->from('item_image')
										->where('id=:id', array(':id'=>$upload['name']))
										->queryRow();
									echo '<div class="image" title="'.$image['id'].'.'.$image['type'].'" style="background-image: url(/images/slir/w40-h38-c40:36-baeaeaa/'.db_image('item_image', $image['id']).')"><a title="remove '.$image['id'].'.'.$image['type'].'" href="#"><span></span></a></div>';
								}
							}
							echo $form->hiddenField($model,'uploads',array('value'=>base64_encode(serialize($uploads))));
						.clear
					:php
						endif;
						$this->widget('CMultiFileUpload',array(
							'model'=>$model,
							'attribute'=>'images',
							'accept'=>'gif|jpg|jpeg|png',
							'max'=>5,
							'remove'=>'remove',
						));
					=$form->error($model,'images')
					.no-js
						JavaScript required

	:php
		$this->endWidget()

:php
	Yii::app()->clientScript->registerScript(
		'_form',
		"
		var uploadIndex_from = 0;
		$('div.images', '#item_create, #item_update').sortable( {
			revert: true,
			opacity: .75,
			start: function(event, ui) {
				uploadIndex_from = ui.item.index();
			},
			update: function(event, ui) {
				var uploadIndex_to = ui.item.index();
				var input = unserialize(base64_decode($('#Item_uploads').val()));
				var output = [];
				output[uploadIndex_to] = input[uploadIndex_from];
				for(var i in input) {
					if((i < uploadIndex_from && i < uploadIndex_to) || (i > uploadIndex_from && i > uploadIndex_to))
						output[i] = input[i];
					else if(i != uploadIndex_to) {
						if(uploadIndex_from < uploadIndex_to)
							output[i] = input[parseInt(i) + 1];
						else
							output[i] = input[i - 1];
					}
				}
				$('#Item_uploads').val(base64_encode(serialize(output)));
			}
		});
		$('a', '#item_create div.images div.image, #item_update div.images div.image').click(function() {
			var \$this = $(this);
			var input = unserialize(base64_decode($('#Item_uploads').val()));
			var output = [];
			for(var i in input) {
				if(i < \$this.parent().index())
					output[i] = input[i];
				else if(i > \$this.parent().index())
					output[i - 1] = input[i];
			}
			$('#Item_uploads').val(base64_encode(serialize(output)));
			if(\$this.parent().hasClass('new')) {
				var image = \$this.parent().attr('style');
				$.post(
					'/ad/ajaxRemoveImage/',
					{
						image: '".Yii::getPathOfAlias('webroot')."/images/uploads/temp/' + image.substring(image.lastIndexOf('/') + 1, image.lastIndexOf(')'))
					},
					function() {
						if($('div.images', '#item_create, #item_update').children('div.image').size() == 0)
							$('div.images', '#item_create, #item_update').remove();
					}
				);
			}
			\$this.parent().remove();
			return false;
		});
		",
		CClientScript::POS_READY
	);