.form

	:php
		$form=$this->beginWidget('CActiveForm', array(
			'id'=>'item-form',
			'enableAjaxValidation'=>true,
			'htmlOptions'=>array('enctype'=>'multipart/form-data'),
		));

	//=$form->errorSummary($model)

	%table.form(summary="Post a New Item")
		%caption.hide Item

		%tfoot

			%tr
				%td \\&#160;
				%td =CHtml::submitButton($model->isNewRecord ? 'Post' : 'Update')

		%tbody

			%tr
				%th =$form->labelEx($model,'title')
				%td
					.input-text
						=$form->textField($model,'title',array('size'=>60,'maxlength'=>64))
						%span.placeholder What are you selling?
					=$form->error($model,'title')

			%tr
				%th =$form->labelEx($model,'price')
				%td
					.price.input-text
						%span.prepend
							PHP
						=$form->textField($model,'price')
						%span.placeholder How much does it cost?
					= $form->error($model,'price')

			%tr
				%th Condition
				%td
					%fieldset
						%legend Condition	
						:php
							echo $form->radioButtonList($model,'condition_id',array(''=>'N/A','0'=>'Brand New','1'=>'Used'),array('separator'=>' &#160; '));
							echo $form->error($model,'condition_id');

			%tr
				%th =$form->labelEx($model,'description')
				%td
					.textarea
						=$form->textArea($model,'description',array('rows'=>6, 'cols'=>50))
						%span.placeholder Describe what you are selling.<br/>Longer descriptions sell more.
					=$form->error($model,'description');

			%tr
				%th =$form->labelEx($model,'images')
				%td
					:php
						$images = CUploadedFile::getInstances($model, 'images');
						if(isset($images) && count($images) > 0 && strlen($form->error($model, 'images')) <= 74):
					.images
						:php
							foreach($images as $image) {
								$name = md5($image->name.time()).'.'.$image->extensionName;
								$image->saveAs(Yii::getPathOfAlias('webroot').'/images/uploads/temp/'.$name);
								echo CHtml::image('/images/transparent.gif', '', array('style'=>'background-image: url(/images/image.php/'.$name.'?image=/images/uploads/temp/'.$name.'&width=40&height=36&cropratio=40:36&quality=100)'));
							}
					:php
						endif;
						$this->widget('CMultiFileUpload',array(
							'model'=>$model,
							'attribute'=>'images',
							'accept'=>'gif|jpg|jpeg|png',
							'max'=>5 - count($images),
							'remove'=>'remove',
						));
					=$form->error($model,'images')
					.no-js
						JavaScript required to upload images.

	:php
		$this->endWidget()