%p =Yii::app()->format->formatNtext($model->description)
:php
	$images = Yii::app()->db->createCommand()
		->select('id, type')
		->from('item_image')
		->where('item_id=:item_id and `index`>0', array(':item_id'=>$model->id))
		->order('index')
		->queryAll();
	if(sizeof($images) > 0):
.images
	:php
		foreach($images as $image) {
			echo CHtml::link(
				CHtml::image('/images/transparent.gif', $image['id'].'.'.$image['type'], array('title'=>'click to enlarge photo', 'style'=>'background-image: url(/images/slir/w116-h106-c116%3a106-be8e8e3/'.db_image('item_image', $image['id']).')')),
				'/images/slir/w510-bfff/'.db_image('item_image', $image['id']),
				array('class'=>'lightbox')
			);
		}
:php
	endif;